zookeeper.hosts={{ zookeeper_hosts }}
kafka.hosts={{ kafka_hosts }}
statstopology.openTsdbUrl={{ opentsdb_hosts }}
neo4j.hosts={{ neo4j_hosts }}
neo4j.user={{ neo4j_user }}
neo4j.pswd={{ neo4j_password }}

opentsdbtopology.kafka.opentsdb-topic=opentsdb-topic
opentsdbtopology.open-tsdb.url={{ opentsdb_hosts }}
opentsdbtopology.open-tsdb.timeout=30000
