<div class="isl_flow_switch">
  <input type="hidden" id="auto_refresh" value="false">
  <input type="hidden" id="auto_refresh_interval">
  <input type="hidden" id="m_s_dropdown">
  <input type="hidden" id="switch">

  <span *ngIf="commonService.hasPermission('topology_world_map_view')" class="world-map-view" ngbPopover="{{worldMapText}}" popoverClass="popover-sm" placement="bottom" container="body" triggers="mouseenter:mouseleave" data-toggle="modal" id="viewWorldMap" (click)="showWorldMap()">
    <i class="fa fa-map-o" aria-hidden="true"></i>
  </span>
  <span *ngIf="!this.defaultSetting.WORLDMAP" class="affected-isl" ngbPopover="Affected ISL" popoverClass="popover-sm" placement="bottom" container="body" triggers="mouseenter:mouseleave" data-toggle="modal" id="viewISL" (click)="showAffectedISL()">
    <i class="icon-affected-isl" aria-hidden="true"></i>
  </span>
  <span *ngIf="!this.defaultSetting.WORLDMAP" (click)="showSwitch()" ngbPopover="Show Switch" popoverClass="popover-sm" placement="bottom" container="body" triggers="mouseenter:mouseleave" class="switch_icon custom-icon" id="switch_icon">

    <i [class.icon-switch]="this.defaultSetting.SWITCH_CHECKED" [class.inactive-icon-switch]="!this.defaultSetting.SWITCH_CHECKED"
      aria-hidden="true"></i>
  </span>
  <span *ngIf="this.defaultSetting.FLOW_CHECKED && !this.defaultSetting.WORLDMAP" (click)="showIsl()" data-balloon-pos="down" ngbPopover="Show ISL"
    popoverClass="popover-sm" placement="bottom" container="body" triggers="mouseenter:mouseleave" class="isl_switch_icon custom-icon"
    id="logical">
    <i class="icon-isl" aria-hidden="true"></i></span>

  <span *ngIf="this.defaultSetting.ISL_CHECKED && !this.defaultSetting.WORLDMAP" (click)="showFlow()" data-balloon-pos="down" ngbPopover="Show Flows" popoverClass="popover-sm" placement="bottom" container="body" triggers="mouseenter:mouseleave" class="isl_switch_icon custom-icon" id="physical" style="">

    <i class="icon-flows" aria-hidden="true"></i>
  </span>
  <div *ngIf="!this.defaultSetting.WORLDMAP" class="import-export-setting d-inline-block align-middle" ngbDropdown placement="bottom-right" >
    <span  id="dropdownBasic1" ngbDropdownToggle><i class="icon-import-export-setting" aria-hidden="true"></i></span>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button (click)="exportSetting()" class="dropdown-item export-setting">
          <i class="icon-export-setting" aria-hidden="true"></i>  &nbsp; Export
      </button>
      <button class="dropdown-item import-setting"  (click)="importSettingModal()">
        <i class="icon-import-setting" aria-hidden="true"></i>  &nbsp; Import
      </button>
     </div>
  </div>
  

  <span *ngIf="!this.defaultSetting.WORLDMAP" (clickOutside)="onClickedOutside($event,'refreshMenu')" ngbPopover="Refresh" popoverClass="popover-sm" placement="bottom" container="body" triggers="mouseenter:mouseleave"
    class="refresh_toggle custom-icon" (click)="toggleRefreshMenu()">
    <i class="icon-refresh-kilda" [class.active]="defaultSetting.REFRESH_CHECKED"></i>
  </span>
  <ul *ngIf="!this.defaultSetting.WORLDMAP" class="refresh_list" [@changeState]="refreshMenu">
    <li class="stop_refresh" [class.active]="!defaultSetting.REFRESH_CHECKED" (click)="stopAutoRefresh()"><i class="fa fa-check"></i> STOP</li>
    <li *ngFor="let interval of refreshIntervals" [class.active]="defaultSetting.REFRESH_CHECKED && defaultSetting.REFRESH_INTERVAL== interval.value" class="refresh_option" (click)="setAutoRefresh(interval.value)"><i class="fa fa-check"></i> {{interval.label}}</li>
   </ul>
  <span (clickOutside)="onClickedOutside($event,'showInfoFlag')" (click)="showInfo()" class="refresh_toggle custom-icon"><i class="info-icon" aria-hidden="true"></i></span>
  </div>
<div *ngIf="!this.defaultSetting.WORLDMAP" class="topology-txt" id="topology-txt" [@changeState]="showInfoFlag">
  <h1 align="center">Information</h1>
  <p> 1. Graph represents all logical (Flows) and physical (ISLs) links between switches and their state.</p>
  <p> 2. One can drag the switches in any direction to have a better view of the connections.</p>
  <p> 3. Hovering over a switch or a physical link will show the details, resp.</p>
  <p> 4. Single click in case of physical link and double click in case of switch will redirect one to the details page of the clicked object.</p>
  <p> 5. Clicking on the physical link will redirect one to the details page of the ISL along with the graph of data being transferred through it.</p>
  <p> 6. Clicking on logical link will redirect one to the Flows LIST page that lists all the flows, present between the two switches, and their details in a tabular form.</p>
  <p> 7. Number mentioned on logical link represents the number of flows present between two switches.</p>
  <p> 8. Clicking, twice, on the switch will redirect one to the Switch details page along with the PORT DETAILS.</p>
  <p> 9. One can perform the following operations by using the button menu on the mid-right corner of the Canvas:</p>
    <p> >> Search for the desired switch.</p>
    <p> >> Maximize or Minimize the topology.</p>
    <p> >> Reset the topology to its initial state.</p>
  <div class="clear clearfix"></div>
</div>

 
