
<div class="flow-table-wrapper" [hidden]="wrapperHide"></div>
  <table id="flowDataTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th class="">
          <span  title="Switch ID">Switch ID</span>
          <i class="fa fa-search" (click)="toggleSearch($event,'switch_id')"></i>
          <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="switch_id" [hidden]="!switch_id" />
        </th>
        <th class="">
            <span title="Name">Name</span>
            <i class="fa fa-search" (click)="toggleSearch($event,'name')"></i>
            <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="name" [hidden]="!name" />
        
        </th>
        <th class="">
            <span title="Name">Address</span>
            <i class="fa fa-search" (click)="toggleSearch($event,'address')"></i>
            <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="address" [hidden]="!address" />
        
        </th>
        <th class="">
            <span title="Name">Hostname</span>
            <i class="fa fa-search" (click)="toggleSearch($event,'hostname')"></i>
            <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="hostname" [hidden]="!hostname" />
        
        </th>
        <th class="">
          <span title="Pop Location">Pop Location</span>
          <i class="fa fa-search" (click)="toggleSearch($event,'poplocation')"></i>
          <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="poplocation" [hidden]="!poplocation" />
        </th>
        <th class="">
            <span title="Name">Description</span>
            <i class="fa fa-search" (click)="toggleSearch($event,'description')"></i>
            <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="description" [hidden]="!description" />
        
        </th>
        <th class="">
            <span title="Name">State</span>
            <i class="fa fa-search" (click)="toggleSearch($event,'state')"></i>
            <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="state" [hidden]="!state" />
        
        </th>
        <th >
          <span title="type">
              type
             </span>
              
        </th>
      </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of data; let i = index" (click)="showSwitch(row)" class="flowDataRow"
        [ngClass]="{'down-state': row.state == 'DEACTIVATED' , 'up-state': row.state == 'ACTIVATED'}" [class.down-status]="row.hasOwnProperty('discrepancy') && ((row['discrepancy'].hasOwnProperty('status') && row['discrepancy']['status']))">
            <td class="divTableCell" title="{{checkValue(row.switch_id)}}" [contextMenu]="copySwitchId">
              {{checkValue(row.switch_id)}}
              <context-menu #copySwitchId>
                <ng-template contextMenuItem (execute)="copyToClip($event,'switch_id',i);">
                  Copy to Clipboard
                </ng-template>
              </context-menu>
            </td>
            <td class="divTableCell" title="{{ ((row['controller-switch'] == true && row['state'] == 'ACTIVATED') || (row['name']!=='undefined') ) ? row['name'] : row['common-name'] ? checkValue(row['common-name']) : checkValue(row['name']) }}" [contextMenu]="copySwitchName">
              {{ ((row['controller-switch'] == true && row['state'] == 'ACTIVATED') || (row['name']!=='undefined') )? checkValue(row['name']) : (row['common-name']) ? checkValue(row['common-name']) : checkValue(row['name']) }}
              <context-menu #copySwitchName>
                <ng-template contextMenuItem (execute)="copyToClip($event,'name',i);">
                  Copy to Clipboard
                </ng-template>
              </context-menu>
            </td>
            <td class="divTableCell" title="{{checkValue(row.address)}}" >
              {{checkValue(row.address)}}
            </td>
            <td class="divTableCell" title="{{checkValue(row.hostname)}}" >
              {{checkValue(row.hostname)}}
            </td>
            <td class="divTableCell" title="{{ row['pop-location'] && row['pop-location']['pop-code'] ? checkValue(row['pop-location']['pop-code']) : ''}}" >
              {{ row['pop-location'] && row['pop-location']['pop-code'] ? checkValue(row['pop-location']['pop-code']) : '-'}}
            </td>
            <td class="divTableCell" title="{{checkValue(row.description)}}" >
              {{checkValue(row.description)}}
            </td>
            <td class="divTableCell" title="{{checkValue(row.state)}}" >
              {{checkValue(row.state)}}
            </td>
            <td >{{ descrepancyString(row) }}</td>
           
           
        </tr>
    </tbody>
  </table>
