<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p %c{1.}:%L - [%X] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.openkilda" level="DEBUG"/>
        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
