	<form id="flowForm" name="FlowForm" onsubmit="return flowObj.validateFlow();" novalidate >
		<div class="col-lg-12">
				<div class="col-lg-12 flow_detail_title_div">
					<h5 class='modal-title'>FLOW DETAILS</h5>
					<div class="col-md-6 flow_detail_div"></div>
					<div class="isl-source-details-div">
							<div class='form-group row flow_details'>
							<label class='col-sm-3 col-form-label'>Flow Name:</label>
							<div class='col-sm-4'>	
								<input  disabled="disabled" type="text" id="flowname_read" name="flowname_read" class="form-control"  required alphanumeric-only onkeypress="return flowObj.IsAlphaNumeric()"  onblur="flowObj.checkValidate('flowname')"/>
								<input type="hidden" id="flowname" class="form-control"  name="flowname" />
								<span id="flownameError" class="has-error error">Flow Name is required!</span>
								<span id="flownamepatternError" class="has-error error">Only Alphanumeric small characters are allowed!</span>
							</div>
							</div>
							<div class='form-group row flow_details'>
							<label class='col-sm-3 col-form-label'>Description:</label>
							<div class="col-sm-4">
								<textarea id="flow_description" class="form-control" required name="flow_description" onblur="flowObj.checkValidate('flow_description')"></textarea>
								<span id="flow_descriptionError" class="has-error error">Description is required!</span>
								
							</div>
						</div>
	
						<div class='form-group row flow_details'>
							<label class='col-sm-3 col-form-label'>Maximum Bandwidth:</label>
							<div class="col-sm-4">
								<input id="max_bandwidth" class="form-control" name="max_bandwidth" type="text" required onkeypress="return flowObj.isNumberOnly()" onblur="checkValidate('max_bandwidth')"/>
								<span id="max_bandwidthError" class="has-error error">Max bandwidth is required!</span>
							</div>
						</div>
					</div>
				</div>
			 	
				<div class="col-md-6 flow_details">
					<h5 class='flow-modal-title'>SOURCE DETAILS</h5>
					<div id="flow-source-details-div">
						
						<div class='form-group row'>
							<label class='col-sm-3 col-form-label'>Switch:</label>
							<div class='col-sm-6'>
								<select id="source_switch" class="form-control" name="source_switch" required>
									<option value="">Please select a switch</option>
								</select>
								<span id="source_switchError" class="has-error error">Source Switch is required!</span>
							</div>
							
						</div>
						<div class='form-group row'>
							<label class='col-sm-3 col-form-label'>Port:</label>
							<div class='col-sm-6'>
								<input id="source_port" class="form-control" name="source_port" type="text" required onkeypress="return flowObj.isNumberOnly()" onblur="flowObj.checkValidate('source_port')" />
								<span id="source_portError" class="has-error error">Source Port is required!</span>
							</div>
						</div>
						<div class='form-group row'>
							<label class='col-sm-3 col-form-label'>Vlan:</label>
							<div class='col-sm-6'>
							<select id="source_vlan" class="form-control" name="source_vlan">
								<option value="0">Please select a value</option>
							</select>
							</div>
						</div>
	
					</div>
				</div>
	
				<div class="col-md-6 flow_details">
					<h5 class='flow-modal-title'>DESTINATION DETAILS</h5>
					<div id="flow-destination-details-div">
						
						<div class='form-group row'>
							<label class='col-sm-3 col-form-label'>Switch:</label>
							<div class='col-sm-6'>
								<select id="target_switch" class="form-control" name="target_switch" required>
									<option value="">Please select a switch</option>
								</select>
							 <span id="target_switchError" class="has-error error">Target Switch is required!</span>
							</div>
							
						</div>
						<div class='form-group row'>
							<label class='col-sm-3 col-form-label'>Port:</label>
							<div class='col-sm-6'>
								<input id="target_port" class="form-control" name="target_port" type="text" required onkeypress="return flowObj.isNumberOnly()" onblur="flowObj.checkValidate('target_port')" />
								 <span id="target_portError" class="has-error error">Target Port is required!</span>
							</div>
						</div>
						<div class='form-group row'>
							<label class='col-sm-3 col-form-label'>Vlan:</label>
							<div class='col-sm-6'>
							<select id="target_vlan" class="form-control" name="target_vlan">
								<option value="0">Please select a value</option>
							</select>
							</div>
						</div>
	
					</div>
				</div>
				<div class="col-sm-12">
				<input type="submit" class="btn kilda_btn" value="Update"/>
				<span onClick="flowObj.cancelEditFlow()" class="btn kilda_btn">Cancel</span>
			</div>				
			</div>
	
	</form>

			