<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
<!-- CSS Style Sheets -->


<link th:href="@{lib/css/jquery.dataTables.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{lib/css/select2.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{ui/images/kilda.png}" rel="shortcut icon" type="image/png" />


</head>
<body>
<div th:include="common/importResources:: commonImports"></div>
	<div th:replace="common/header :: header" ></div>

	<div th:replace="common/menu :: menu" ></div>

	<div class="content">
		<div class="row">
			<div class="navigation-bar container-fluid">
				<ul class="col-lg-12" id="breadcrum_flow">
					<li><a th:href="@{/home}">Home</a></li>
					<li><i class="fa icon-double-angle-right"></i><a th:href="@{/flows}">Flows</a></li>

				</ul>
			</div>
		</div>

		<div class="container-fluid">
			<div id="addflowloader" class="bg_load" style="display:none;">
				<div class="loader"></div>
				<span class="load-text" id="loaderText">Fetching Switches
						<span class="loader__dot">.</span>
  			  			<span class="loader__dot">.</span>
  			 			<span class="loader__dot">.</span>
  			 	</span>  
			</div>
			<div id="saveflowloader" class="bg_load" style="display:none;">
				<div class="loader"></div>
				<span class="load-text" id="loaderText">Saving flow
						<span class="loader__dot">.</span>
  			  			<span class="loader__dot">.</span>
  			 			<span class="loader__dot">.</span>
  			 	</span>  
			</div>
			<div id="add_flow_div">
			
			</div>
			<div id="switchdetails_div">
				<div class="row">
					<div id="exTab1" class="col-lg-12 tab-wrapper">
					<span class="btn kilda_btn hidePermission pull-right" onclick="flowObj.createNewFlow()" permission="fw_flow_create">Add New Flow</span>
					<ul class="nav nav-pills">
							<li class="active"><a href="#1a" data-toggle="tab">Search</a></li>
							<li><a href="#2a" data-toggle="tab" id="flow-list">List</a></li>
						</ul>

						<div class="tab-content clearfix">
							<div class="tab-pane active" id="1a">
								<div id="custom-search-input">
								
									<div class="input-group col-xs-4">
										
								      <input type="text" class="form-control SearchBar"  placeholder="Enter Flow ID" name="flowid" id="flowid"/>
								      <span class="flowid-error-message pull-left"></span>
								      <span class="input-group-btn">
								        <button class="btn kilda_btn" type="button" id="searchbtn" onclick="validateFlowForm()">
								            Search
								        </button>
								      </span>
								    </div>
					            </div>
							</div>
							<div class="tab-pane" id="2a">
								<div id="loading" class="bg_load" style="display:none;">
									<div class="loader"></div>
									<span class="load-text">Loading Flows
											<span class="loader__dot">.</span>
					  			  			<span class="loader__dot">.</span>
					  			 			<span class="loader__dot">.</span>
					  			 	</span>  
								</div>
								<div class="col-lg-12 text-right" style="padding-bottom: 10px; margin-bottom: 10px;">
									<div class="filter_btns col-lg-11" id="storeFilter" style="display:none;padding-top: 7px; padding-right: 0;">
										<div style="float:right">
											<label for="activeFilter">
												<input type="checkbox" class="status_filter" name="filterStatus[]" value="active" id="activeFilter" />
												<span>Active</span>
											</label>
										    <label for="expiredFilter">
										    	<input type="checkbox" class="status_filter" name="filterStatus[]" value="expired" id="expiredFilter" />
										    	<span>Expired</span>
										    </label>
										    <label for="deletedFilter">
										    	<input type="checkbox" class="status_filter" name="filterStatus[]" value="deleted" id="deletedFilter" />
										    	<span>Deleted</span>
										    </label>
									    </div>
									</div>
									<span class="btn kilda_btn" id="refresh_list">Refresh</span>
								</div>
								<table id="flowTable" class="display" cellspacing="0" width="100%" style="display:none;">
									<thead>
										<tr class="tableHeading">
											<th><span title="Flow ID">Flow ID</span> 
											<i class="icon-search" onclick="showSearch('flow_search',event)" style=""></i> 
											<input id="flow_search" class="heading_search_box" type="search" style="display: none;" placeholder="Search"  onclick="event.stopPropagation()"/>
											</th>
											<th><span title="Source Switch">Src Switch	</span>					
											<i class="icon-search" id="sourceIcon" onclick="showSearch('source-switch',event)" style=""></i> 
											<input id="source-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											
											</th>
											<th><span title="Source Port">Src Port </span>
											<i class="icon-search" onclick="showSearch('source-port',event)" style=""></i> 
											<input id="source-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											
											</th>
											<th><span title="Source Vlan">Src Vlan </span>
											<i class="icon-search" onclick="showSearch('source-vlan',event)" style=""></i> 
											<input  id="source-vlan" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											
											</th>
											<th><span title="Destination Switch">Dst Switch</span>
											<i class="icon-search" id="targetIcon" onclick="showSearch('target-switch',event)" style=""></i> 
											<input id="target-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											
											</th>
											<th><span title="Destination Port">Dst Port </span>
											<i class="icon-search" onclick="showSearch('destination-port',event)" style=""></i> 
											<input id="destination-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											
											</th>
											<th><span title="Destination Vlan">Dst Vlan </span>
											<i class="icon-search" onclick="showSearch('destination-vlan',event)" style=""></i> 
											<input id="destination-vlan" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											
											</th>
											<th><span title="Bandwidth(Mbps)">Bandwidth (Mbps)</span>
											<i class="icon-search" onclick="showSearch('max-band',event)" style=""></i> 
											<input id="max-band" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											
											</th>
					 						<th><span title="Status">Status </span>
											<i class="icon-search" onclick="showSearch('status',event)" style=""></i> 
											<input id="status" class="heading_search_box" type="search" style="display: none;" placeholder="Search" /> 
											
											</th> 
											<th><span title="State">State </span>
											<i class="icon-search" onclick="showSearch('state',event)" style=""></i> 
											<input id="state" class="heading_search_box" type="search" style="display: none;" placeholder="Search" /> 
											</th> 
											<th><span title="Description">Description</span> 
											<i class="icon-search" onclick="showSearch('Description',event)" style=""></i> 
											<input id="Description"  class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
											</th>
											<th><span title="Action">Action</span></th>
										</tr>
									</thead>
					
									<tbody id="flow-details">
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div th:replace="common/footer :: footer" ></div>
	
	<!-- Edit confirmation -->
	<div class="modal confirm_modal fade" id="createflowconfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Confirmation</h4>
				</div>
				<div class="modal-body">Are you sure you want to create a new flow?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" onClick="flowObj.cancelCreateFlow()">No</button>
					<button type="button" class="btn kilda_btn" onClick="flowObj.createFlow()">Yes</button>
				</div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript" th:src="@{ui/js/flows/flowobject.js}"></script>
	<script th:inline="javascript" th:src="@{lib/javascript/jquery.dataTables.min.js}"></script>
	<script th:inline="javascript"  th:src="@{ui/js/common.js}"></script>
	<script th:inline="javascript" th:src="@{ui/js/flows/flows.js}"></script>
	<script th:inline="javascript" th:src="@{lib/javascript/select2.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('body').css('pointer-events','all');
		});
	</script>
</body>
</html>
