.DS_Store
*.sw?
.env

# IntelliJ specific files/directories
.idea/
*.ipr
*.iws
*.iml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata

# VSCode specific files/directories
.vscod,me/

/generated.mk
/docker-compose.yaml
