/artifact

.vscode
.DS_Store
*.pyc
py_env/
effective.pom
.classpath
.lfsconfig
.pydevproject
dependency-reduced-pom.xml
*.class
*.swp
*.pom
.settings/
.project
*.idea/
*.iml
reports/
.vagrant/
*.log
logs/
kilda-bins/
tar/
*.retry
services/src/api/target/
