version: '2.1'
services:

#  hello-world:
#    build:
#      context: .
#      dockerfile:  services/hello-world/Dockerfile
#    image: "kilda/hello-world:${full_build_number:-latest}"
#    command: /app/helloworld.sh
#    env_file:
#      - services/hello-world/variables.env

  mininet:
    container_name: mininet
    build:
      context: .
      dockerfile:  services/mininet/Dockerfile
    image: "kilda/mininet:${full_build_number:-latest}"
    command: /app/startup
    env_file:
      - services/mininet/variables.env
    ports:
      - "38080:38080"
    links:
      - floodlight:kilda
    privileged: true

  neo4j:
    container_name: neo4j
    build:
      context: .
      dockerfile:  services/neo4j/Dockerfile
    image: "kilda/neo4j:${full_build_number:-latest}"
    command: neo4j console
    ports:
      - "7474:7474"
      - "7687:7687"
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:7474/"]
      interval: 30s
      timeout: 10s
      retries: 3

##
## Python based topology-engine
##
  topology-engine:
    container_name: topology-engine
    build:
      context: services/topology-engine/
      dockerfile: Dockerfile
    image: "kilda/topology-engine:${full_build_number:-latest}"
    command: ./entrypoint.sh
    volumes:
      - app_server_data:/var/data
    ports:
      - "80:80"
    links:
      - neo4j
      - kafka:kafka.pendev
    environment:
      neo4jhost: 'neo4j'
      neo4juser: 'neo4j'
      neo4jpass: 'temppass'
      neo4jbolt: 'http://neo4j:7474/db/data/cypher'
      bootstrapserver: 'kafka.pendev:9092'
      topic: 'kilda-test'
      group: 'python-tpe-tl-consumer'
      OK_TESTS: "${OK_TESTS:-none}"
    depends_on:
      kafka:
        condition: service_healthy
      neo4j:
        condition: service_healthy

####
#### java-based topology-engine. It could replace python-based topology-engine.
#### (carmine 17.06.07 - commenting out, migrate back to python based solution)
#### -- This block is left here for reference.
####
#  topology:
#    build:
#      context: .
#      dockerfile:  services/topology/Dockerfile
#    image: "kilda/topology:${full_build_number:-latest}"
#    command: java -jar /app/topology/target/topology.jar
#    ports:
#      - "80:80"
#    links:
#      - neo4j
#      - kafka:kafka.pendev
#    environment:
#      NEO4J_USERNAME: 'neo4j'
#      NEO4J_PASSWORD: 'temppass'
#      REST_USERNAME: 'kilda'
#      REST_PASSWORD: 'kilda'
#    depends_on:
#      kafka:
#        condition: service_healthy
#      neo4j:
#        condition: service_healthy

  zookeeper:
    container_name: zookeeper
    build:
      context: .
      dockerfile:  services/zookeeper/Dockerfile
    image: "kilda/zookeeper:${full_build_number:-latest}"
    command: /opt/zookeeper/bin/zkServer.sh start-foreground
    ports:
      - "2181:2181"
    healthcheck:
      test: ["CMD-SHELL", "jps | grep --silent QuorumPeer"]
      interval: 30s
      timeout: 10s
      retries: 3

  kafka:
    container_name: kafka
    hostname: kafka.pendev
    build:
      context: .
      dockerfile:  services/kafka/Dockerfile
    image: "kilda/kafka:${full_build_number:-latest}"
    # run_and_configure is in services/kafka/kafka-conf
    # command: /opt/kafka/bin/run_and_configure.sh
    command: /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
    volumes:
      - kafka_data:/data/kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    links:
      - zookeeper:zookeeper.pendev
    ports:
      - "9092:9092"
    extra_hosts:
      - "kafka.pendev:127.0.0.1"
    healthcheck:
      test: ["CMD-SHELL", "jps | grep --silent Kafka"]
      interval: 30s
      timeout: 10s
      retries: 3

  wfm:
    container_name: wfm
    build:
      context: .
      dockerfile:  services/wfm/Dockerfile
    image: "kilda/wfm:${full_build_number:-latest}"
    #command: /app/wfm-poc.py kafka.pendev:9092 kilda-test
    command: /app/deploy_topos_and_monitor.sh kafka.pendev:9092 kilda-test
    depends_on:
      kafka:
        condition: service_healthy
      zookeeper:
        condition: service_healthy
      storm_nimbus:
        condition: service_healthy
      storm_supervisor:
        condition: service_healthy
#      hbase:
#        condition: service_healthy
    links:
      - kafka:kafka.pendev
      - storm_nimbus:nimbus.pendev
      - zookeeper:zookeeper.pendev

#  hbase:
#    build:
#      context: .
#      dockerfile: services/hbase/Dockerfile
#    image: "kilda/hbase:${full_build_number:-latest}"
#    command: /opt/hbase/bin/start-hbase
#    volumes:
#      - hbase_data:/data/hbase
#    depends_on:
#      zookeeper:
#        condition: service_healthy
#    links:
#      - zookeeper:zookeeper.pendev
#    ports:
#      - "60000:60000"
#      - "60010:60010"
#      - "60020:60020"
#      - "60030:60030"
#      - "8070:8070"
#      - "8090:8090"
#      - "9070:9070"
#      - "9090:9090"

#  tools:
#    build:
#      context: .
#      dockerfile:  services/tools/Dockerfile
#    image: "kilda/tools:${full_build_number:-latest}"
#    command: sleep 10d
#    depends_on:
#      - zookeeper
#      - hbase
#      - storm_nimbus
#      - storm_supervisor
#    links:
#      - zookeeper:zookeeper.pendev
#      - hbase:hbase.pendev
#      - storm_nimbus:nimbus.pendev
#      - storm_supervisor:supervisor.pendev
#    ports:
#      - "22:8022"
#    container_name: "hadoop-tools"

  storm_nimbus:
    container_name: storm_nimbus
    hostname: nimbus.pendev
    build:
      context: .
      dockerfile:  services/storm/Dockerfile
    image: "kilda/storm:${full_build_number:-latest}"
    command: /app/wait-for-it.sh -t 120 -h zookeeper.pendev -p 2181 -- /opt/storm/bin/storm nimbus
    depends_on:
      zookeeper:
        condition: service_healthy
    links:
      - zookeeper:zookeeper.pendev
#      - hbase:hbase.pendev
    ports:
      - "6627:6627"
      - "3772:3772"
      - "3773:3773"
      - "8000:8000"
    healthcheck:
      test: ["CMD-SHELL", "jps | grep --silent nimbus"]
      interval: 30s
      timeout: 10s
      retries: 3

  storm_ui:
    container_name: storm_ui
    build:
      context: .
      dockerfile:  services/storm/Dockerfile
    image: "kilda/storm:${full_build_number:-latest}"
    command: /app/wait-for-it.sh -t 120 -h zookeeper.pendev -p 2181 -- /opt/storm/bin/storm ui
    depends_on:
      zookeeper:
        condition: service_healthy
      storm_nimbus:
        condition: service_healthy
      storm_supervisor:
        condition: service_healthy
    links:
      - zookeeper:zookeeper.pendev
#      - hbase:hbase.pendev
      - storm_nimbus:nimbus.pendev
      - storm_supervisor:supervisor.pendev
    ports:
      - "8888:8080"
    healthcheck:
      test: ["CMD-SHELL", "jps | grep --silent core"]
      interval: 30s
      timeout: 10s
      retries: 3

  storm_supervisor:
    container_name: storm_supervisor
    hostname: storm_supervisor.pendev
    build:
      context: .
      dockerfile:  services/storm/Dockerfile
    image: "kilda/storm:${full_build_number:-latest}"
    command: /app/wait-for-it.sh -t 120 -h zookeeper.pendev -p 2181 -- /opt/storm/bin/storm supervisor
    depends_on:
      zookeeper:
        condition: service_healthy
      storm_nimbus:
        condition: service_healthy
    links:
      - zookeeper:zookeeper.pendev
      - kafka:kafka.pendev
#      - hbase:hbase.pendev
      - storm_nimbus:nimbus.pendev
    ports:
      - "6700:6700"
      - "6701:6701"
      - "6702:6702"
      - "6703:6703"
      - "6704:6704"
      - "6705:6705"
      - "6706:6706"
      - "6707:6707"
      - "6708:6708"
      - "6709:6709"
      - "6710:6710"
      - "6711:6711"
      - "6712:6712"
      - "6713:6713"
      - "6714:6714"
      - "8001:8000"
    healthcheck:
      test: ["CMD-SHELL", "jps | grep --silent Supervisor"]
      interval: 30s
      timeout: 10s
      retries: 3

  floodlight:
    build:
      context: .
      dockerfile:  services/floodlight/Dockerfile
    image: "kilda/floodlight:${full_build_number:-latest}"
    command: java -Dlogback.configurationFile=/app/logback.xml -cp /app/floodlight/target/floodlight.jar:/app/floodlight-modules/target/floodlight-modules.jar net.floodlightcontroller.core.Main -cf /app/floodlightkilda.properties
    ports:
      - "6653:6653"
      - "8180:8080"
      - "6655:6655"
      - "6642:6642"
      - "8081:8080"
    links:
      - kafka:kafka.pendev
    depends_on:
      kafka:
        condition: service_healthy

  northbound:
    build:
      context: .
      dockerfile:  services/northbound/Dockerfile
    image: "kilda/northbound:${full_build_number:-latest}"
    command: java -jar /app/northbound/target/northbound.jar
    ports:
      - "8088:8080"
    links:
      - kafka:kafka.pendev
    environment:
      REST_USERNAME: 'kilda'
      REST_PASSWORD: 'kilda'
    depends_on:
      kafka:
        condition: service_healthy


volumes:
  zookeeper_data:
  kafka_data:
  app_server_data:
# mininet_data:
# hbase_data:
