<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
<link th:href="@{../ui/images/kilda.png}" rel="shortcut icon" type="image/png"></link>
<link th:href="@{../lib/css/on-off-switch.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div th:include="common/importResources:: commonPathImports"></div>
	<div th:include="common/importResources:: statsImports"></div>
	<div th:include="common/importResources:: toggleSwitch"></div>
	
	<div th:replace="common/header :: header" ></div>
	<div th:replace="common/menu :: menu" ></div>
	<div class="content">
		<div class="row">
			<div class="navigation-bar container-fluid">
				<ul class="col-lg-12">
					<li><a th:href="@{/home}">Home</a></li>
					<li><i class="icon-double-angle-right"></i><a
						th:href="@{/switch/isllist}">ISL</a></li>
					<li><i class="icon-double-angle-right"></i>ISL Details</li>
				</ul>
			</div>
		</div>


		<div class="container-fluid">
			
			<div id="loading" class="bg_load">
				<div class="loader"></div>
				<span class="load-text">Loading ISL
						<span class="loader__dot">.</span>
  			  			<span class="loader__dot">.</span>
  			 			<span class="loader__dot">.</span>
  			 	</span>  
			</div>
			<!--  ===========================ISL========================== -->

			<!-- ISL SOURCE Details -->
			<div class="row isl_details_div" style="display: none">
				<div class="col-md-6 isl_details">
					<h5 class='modal-title'>SOURCE DETAILS</h5>
					<div id="isl-source-details-div">
						<div class='form-group row'>
							<label class='col-sm-4 col-form-label'>Port:</label>
							<p class='col-sm-8 link_div_source_port'></p>
						</div>
						
						<div class='form-group row'>
							<label class='col-sm-4 col-form-label'>Switch Id:</label>
							<div class='col-sm-4'>
								<span class="link_div_source_switch copy_to_clipBoard"></span>
							</div>
							<div class='col-sm-4'>	
								<input type="hidden" id="on-off-switch-src" name="src_switch" value="0"/>
							</div>
						</div>
						<div class='form-group row'>
							<label class='col-sm-4 col-form-label'>Name:</label>
							<p class='col-sm-8 copy_to_clipBoard link_div_source_switch_name'></p>
						</div>
					</div>
				</div>

				<!-- ISL DESTINATION Details -->
				<div class="col-md-6 isl_details">
					<h5 class='modal-title'>DESTINATION DETAILS</h5>
					<div id="isl-destination-details-div">
						<div class='form-group row'>
							<label class='col-sm-4 col-form-label'>Port:</label>
							<p class='col-sm-8 link_div_destination_port'></p>
						</div>
						<div class='form-group row'>
							<label class='col-sm-4 col-form-label'>Switch Id:</label>
							<div class='col-sm-4'>
								<span class="link_div_destination_switch copy_to_clipBoard"></span>
							</div>
							<div class='col-sm-4'>	
								<input type="hidden" id="on-off-switch-dest" name="dest_switch" value="0"/>
							</div>
						</div>
						<div class='form-group row'>
							<label class='col-sm-4 col-form-label'> Name:</label>
							<p class='col-sm-8 copy_to_clipBoard link_div_destination_switch_name'></p>
						</div>
					</div>
				</div>


				<!-- ISL Speed Details -->
				<div class="col-lg-12 isl_detail_title_div">
					<h5 class='modal-title'>ISL DETAILS</h5>
					<div class="isl-speed-latency-bandwidth-details-div">
						<div class='form-group row isl_sbl_details'>
							<label class='col-sm-4 col-form-label'>Speed:</label>
							<p class='col-sm-8 isl_div_speed'></p>
						</div>

						<!-- ISL Latency Details -->
						<div class='form-group row isl_sbl_details'>
							<label class='col-sm-4 col-form-label'>Latency:</label>
							<p class='col-sm-8 isl_div_latency'></p>
						</div>
						
						<div class='form-group row isl_sbl_details'>
							<label  id="isl_cost_lbl" class='col-sm-4 col-form-label'>Cost:</label>
							<div class="col-sm-8 text_cost_details" id="text_cost_details">
								<p><span class="isl_div_cost"></span><span class="ml-1 cursor-pointer hidePermission" id="edit_isl_cost" permission="isl_permission_editcost"><i class="icon icon-edit"></i></span></p>
								
							</div>
							<div class="update_isl_cost col-sm-8" style="display:none;" id="isl_cost_update">
							<div class="row col-sm-2">
							<input class="form-control" type="text" id="isl_cost" />
									<input id="isl_cost_obj" type="hidden" />
									</div>
									
									<span class="btn kilda_btn ml-1" data-toggle="modal" data-target="#myIslConfirm"><i class="icon icon-ok-sign"></i></span>
									<span id="cancel_isl_cost_update" class="btn kilda_btn ml-0.5"><i class="icon icon-remove-sign"></i></span>
							</div>
							
						</div>

						<!-- ISL Avaliable Bandwidth Details -->
						<div class='form-group row isl_sbl_details'>
							<label class='col-sm-4 col-form-label'>Available
								Bandwidth:</label>
							<p class='col-sm-8 isl_div_avaliable_bandwidth'></p>
						</div>
						<div class='form-group row isl_sbl_details'>
							<label class='col-sm-4 col-form-label'>State:</label>
							<p class='col-sm-8 isl_div_state'></p>
						</div>
					</div>
				</div>
			</div>


			<div class="row graph_div" style="display: none">
				<div class="col-xs-12">
					<h5 class='modal-title'>GRAPH</h5>
					<div id="stats_div" class="topology-graph">
						<div class="col-xs-8">
							<div id="isl_latency_graph" >
								<div id="wait1" class="bg-data-loader" >
										<div class="loader"></div>
									</div>
									
								<h2 class="isl-header text-center" id="graphLabel">ISL Latency Graph</h2>	
								<div id="graphdiv"></div>
							</div>
						</div>	
							<div class="col-xs-8" id="sourceGraphDiv" style="display:none;">
							 <div id="waitisl1" class="bg-data-loader" style="display:none;">
								<div class="loader"></div>
							</div>
							<h2 class="source-header text-center">Source Graph</h2>
							 
								<div id="source-graph_div"></div>
							</div>
							<div class="col-xs-8" id="targetGraphDiv" style="display:none;">
								<div id="waitisl2" class="bg-data-loader" style="display:none;">
									<div class="loader"></div>
								</div>
								
								<h2 class="target-header text-center">Destination Graph</h2> 
								<div id="dest-graph_div"></div>
							</div>
						
						

						<div class="col-xs-4 filter">
							<div class="stats-graph row">
								<ul class="line-legend col-lg-12">
								 	<li>Forward</li>
								  	<li>Reverse</li>
								</ul>
								<fieldset class="form-group clearfix">
													
									<label class="col-xs-4 text-label">Timezone:</label>
									<div class="col-xs-8">
										<select id="timezone" name="timezone">
											<option value="UTC">UTC</option>
											<option value="LOCAL">My Timezone</option>
										</select>
									</div>
								</fieldset>
								<fieldset  id= "fromId" class="form-group clearfix">
									<label class="col-xs-4 text-label">From:</label>
									<div class="col-xs-8">
										<input type="text" id="datetimepicker7ISL"
											value="D, l, M, F, Y-m-d H:i:s" placeholder="From"
											class="form-control"></input>
											<span class="from-error-message"></span>
									</div>
									<input type="hidden" id="savedEnddate"  />
								</fieldset>


								<fieldset  id="toId" class="form-group">
									<label class="col-xs-4 text-label">To:</label>
									<div class="col-xs-8">
										<input type="text" id="datetimepicker8ISL"
											value="D, l, M, F, Y-m-d H:i:s" placeholder="To"
											class="form-control"></input>
											<span class="to-error-message"></span>
									</div>
								</fieldset>

								<fieldset id="DownsampleID" class="form-group">
									<label class="col-xs-4 text-label">Downsample:</label>
									<div class="col-xs-8">
									<select class="form-control" id="downsamplingISL">
										<option value="30s">30s</option>
										<option value="1m">1m</option>
										<option value="5m">5m</option>
										<option value="10m">10m</option>
									</select>
										<!-- <input type="text" id="downsamplingISL" placeholder="Downsample"
											class="form-control"></input>
											 -->
											<span class="downsample-error-message pull-left"></span>
									</div>
								</fieldset>

								<fieldset  id="autoreloadId" class="form-group">
									<label class="col-xs-4 text-label">Autoreload(Sec):</label>
									<div class="col-xs-8">
										<input type="checkbox" id="check" onclick="graphAutoReload.autoreload()"
											style="margin-top: 12px;" /> <input type="text"
											id="autoreloadISL" name="autoloadInput" class="form-control"
											style="display: none; width: calc(100% - 20px); float: right;" />
									
									   <span class="error-message"></span>
									
									</div>
								</fieldset>
								
								<fieldset  id="SourceDestinationSwitchId" class="form-group">
								<label class="col-xs-4 text-label">Graph:</label>
								<div class="col-xs-8">
									<span class="form-control kilda_select"> 
										<span class="selectbox_arrow"></span> 
											<select class="selectbox_list" id="selectedGraph" onChange="islDetails.getIslMetricData(this)">
											<option value="isl">Latency</option>
											<option value="source">Source</option>
											<option value="target">Destination</option>
											<option value="isllossforward">Loss packet forward</option>
											<option value="isllossreverse">Loss packet reverse</option>
										</select>
									</span>
								</div>
								
								</fieldset>
								
								<fieldset class="form-group" id="islMetric" style="display: none;">
									<label class="col-xs-4 text-label">Metric:</label>
									<div class="col-xs-8">
										<span class="form-control kilda_select"> 
											<span class="selectbox_arrow"></span> 
												<select class="selectbox_menulist" id="menulistISL">
												</select>
										</span>
									</div>
								</fieldset>


								<div class="col-xs-12 submit-btn">
									<!-- <input type="button" value="submit" onclick="getGraphData()"></input> -->
									<div id="errorMesg" class="error"></div>
								</div>
							</div>
						</div>
						
						<!-- div class="col-lg-12">
							<div class="row" id="graphrowDiv" style="display: none;">
								<div class="col-sm-6">
								 <div id="waitisl1" class="bg-data-loader" style="display:none;">
									<div class="loader"></div>
								</div>
								<h2 class="source-header text-center" style="display:none;">Source Graph</h2>
								 
									<div id="source-graph_div"></div>
								</div>
								<div class="col-sm-6">
									<div id="waitisl2" class="bg-data-loader" style="display:none;">
										<div class="loader"></div>
									</div>
									
									<h2 class="target-header text-center" style="display:none;">Target Graph</h2> 
									<div id="dest-graph_div"></div>
								</div>
							</div>
						</div -->
					</div>
					
				</div>
			</div>


			<div id="isl-graph_div"></div>

		</div>
	</div>

	<div th:replace="common/footer :: footer" ></div>
	<script th:inline="javascript" th:src="@{../ui/js/isl/isl.js}"></script>
	<script th:inline="javascript" th:src="@{../ui/js/isl/isl-graph-stats.js}"></script>
	
	<script>
		$(document).ready(function() {
			new DG.OnOffSwitch({
			    el: '#on-off-switch-src',
			    textOn: 'Legacy',
			    textOff: 'Kilda',
			    listener:function(name, checked){
			    	$('.link_div_source_switch').html(common.toggleSwitchID($('.link_div_source_switch').html()));
			    }
			});
			new DG.OnOffSwitch({
			    el: '#on-off-switch-dest',
			    textOn: 'Legacy',
			    textOff: 'Kilda',
			    listener:function(name, checked){
			    	$('.link_div_destination_switch').html(common.toggleSwitchID($('.link_div_destination_switch').html()));
			    }
			});
		});
	</script>
	<!-- Modal -->
		<div class="modal confirm_modal fade" id="myIslConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Confirmation</h4>
				</div>
				<div class="modal-body">Are you sure you want to change the
					cost?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="cancel_isl_cost" data-dismiss="modal">No</button>
					<button type="button" class="btn kilda_btn" id="update_isl_cost">Yes</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
