 <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="unidirectional-isl-table" class="isl-table-popup" cellspacing="0" width="100%">
<thead>
    <tr class="tableHeading">
      
      <th >
        <span title="Source Switch">
        Src Switch
      </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedSrcSwitchName')"></i>
        <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedSrcSwitchName" [hidden]="!expandedSrcSwitchName" />
      </th>
      <th ></th>
    
      <th><span title="Source Port">Port </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedSrcPort')"></i>
        <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedSrcPort" [hidden]="!expandedSrcPort"/>
      </th>
      
      <th><span title="Destination Switch">Dst Switch </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedDestinationSwitchName')"></i>
        <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedDestinationSwitchName" [hidden]="!expandedDestinationSwitchName"/>
      </th>
      <th ></th>
      <th><span title="Destination Port">Port </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedDestinationPort')"></i>
        <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedDestinationPort" [hidden]="!expandedDestinationPort"/>
      </th>
      <th><span title="Cost">Cost </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedCost')"></i>
        <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedCost" [hidden]="!expandedCost"/>
      </th>
      <th><span title="State">State </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedState')"></i>
        <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedState" [hidden]="!expandedState"/>
      </th>
      <th ><span title="Speed(Mbps)">Speed</span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedSpeed')"></i>
        <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedSpeed" [hidden]="!expandedSpeed"/>
      </th>
      <th ><span title="Available Bandwidth(Mbps)">Available Bandwidth(Mbps) </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedAvailableBandwidth')"></i>
        <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedAvailableBandwidth" [hidden]="!expandedAvailableBandwidth"/>
      </th>
      <th ><span title="Latency">Latency</span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedLatency')"></i>
        <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" id="expandedLatency" [hidden]="!expandedLatency"/>
      </th>
      
  </thead>
								<tbody>
          <tr *ngFor="let row of failedISL; let i = index" >
              <td title="{{row.source_switch_name}}"  class="divTableCell">{{row.source_switch_name || "-"}}</td>
              <td title="{{row.source_switch}}" class="divTableCell">{{row.source_switch || "-"}}</td>
              <td title="{{row.src_port}}" class="divTableCell">{{row.src_port || "-"}}</td>
              <td title="{{row.target_switch_name}}"  class="divTableCell">{{row.target_switch_name || "-"}}</td>
              <td title="{{row.target_switch}}" class="divTableCell">{{row.target_switch || "-"}}</td>
              <td title="{{row.dst_port}}" class="divTableCell">{{row.dst_port || "-"}}</td>
              <td title="{{row.cost}}" class="divTableCell">{{row.cost || "-"}}</td>
              <td title="{{row.state}}" class="divTableCell">{{row.state || "-"}}</td>
              <td title="{{row.speed}}" class="divTableCell">{{row.speed || "-"}}</td>
              <td title="{{row.available_bandwidth}}" class="divTableCell">{{row.available_bandwidth || "-"}}</td>
              <td title="{{row.latency}}" class="divTableCell">{{row.latency || "-" }}</td>
            </tr>
      </tbody>
							</table>

