<div class="row switch_rules">
  <div class="col-lg-12 text-right" style="padding-bottom: 10px;margin-top:-20px; margin-bottom: 10px;">
    <span class="btn kilda_btn" id="switch_rules_btn" (click)="switchMeters()">Switch Meters</span>
    &nbsp; <button class="btn btn-dark" [hidden]="showMetersJSON" (click)="toggleView('jsonViewer')">JSON View</button>
    &nbsp; <button class="btn btn-dark" [hidden]="showMetersJSON" (click)="toggleView('tabularViewer')">Tabular View</button>
  </div>
  <div id="switch_rules_loader" class="bg-data-loader" style="bottom:1px;display:none;">
    <div class="loader"></div>
  </div>
  <div *ngIf="loading" class="component-loader"></div>
  <div class=" col-lg-12" [hidden]="showMetersJSON">
    <pre *ngIf="jsonViewer" [contextMenu]="switchMeterVal" class="code"  style="height: 500px;">{{switchedMeters | json}}</pre>
    <app-switch-meters-table *ngIf="tabularViewer" [data]="switchedMeters['meters']"></app-switch-meters-table>
  </div>
</div>

<context-menu #switchMeterVal>
<ng-template contextMenuItem (execute)="copyToClipHtml($event,'switchMeterVal');">
  Copy to Clipboard
</ng-template>
</context-menu>
