<div class="row switch_rules">
  <div class="col-lg-12 text-right" style="padding-bottom: 10px;margin-top:-20px; margin-bottom: 10px;">
      <a class="cursor-pointer pull-right"  style="font-size:16px;" id="switch_rules_btn" (click)="switchMeters()"><i class="fa fa-refresh"></i>  Refresh</a>
      <div class="pull-right" [hidden]="showMetersJSON" style="margin-right:10px; margin-top:-4px;">
        <input type="hidden" class="on-off-switch" value="0" style="display: none;">
        <div class="pull-left">
          <div class="onoffswitch onoffswitch-meter">
            <input type="checkbox" (change)="toggleView($event)" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitchsourcemeter">
            <label class="onoffswitch-label" for="onoffswitchsourcemeter">
              <span class="onoffswitch-inner onoffswitch-inner-kilda-switch-meter"></span>
              <span class="onoffswitch-switch onoffswitch-switch-meter"></span>
            </label>
          </div>
        </div>
      </div>      
   </div>
  <div id="switch_rules_loader" class="bg-data-loader" style="bottom:1px;display:none;">
    <div class="loader"></div>
  </div>
  <div *ngIf="loading" class="component-loader"></div>
  <div class=" col-lg-12" [hidden]="showMetersJSON">
    <pre *ngIf="jsonViewer" [contextMenu]="switchMeterVal" class="code"  style="height: 500px;">{{switchedMeters | json}}</pre>
    <app-switch-meters-table *ngIf="tabularViewer"  [data]="switchedMeters['meters']"></app-switch-meters-table>
  </div>
</div>

<context-menu #switchMeterVal>
<ng-template contextMenuItem (execute)="copyToClipHtml($event,'switchMeterVal');">
  Copy to Clipboard
</ng-template>
</context-menu>
