<div class="row">
    <!-- <div class="col-sm-12">
            <div class="col-sm-9">
                <div class="col-sm-6">
                        <div class="form-group input-group-sm">
                                <input type="text" class="form-control" (change)="fulltextSearch()" placeholder="Search"/>
                           </div>
                </div>
                   
                </div>
                <div class="col-sm-3 pull-right mb-3">
                    <a><i class="fa fa-cog"></i>Filters</a>
                    <a> | <i class="fa fa-cog"></i> Custom View</a>
                    <a> | <i class="fa fa-refresh"></i>  Refresh</a>
                </div>

    </div> -->
    
    <!-- <div class="pull-right mb-3">
    <div class="flow-list-filter">
        <form [formGroup]="filterForm"class="form-inline"  *ngIf="storeLinkSetting"> 
            <div class="form-group">
                    <label class="form-label" style="margin-top:-6px;">Status: </label>
                    <select class="form-control" style="margin-top:-6px; margin-right:60px;" formControlName="status" (change)="refreshFlowList()">
                        <option value="active">Active</option>
                        <option value="expired">Expired</option>
                        <option value="deleted">Deleted</option>
                    </select>  
            </div> 
     </form>
    </div> 
    <button class="btn btn-sm btn-dark" (click)="refreshFlowList()">Refresh</button>
    </div>-->
   <!-- <div class="clear clearfix"></div> -->
</div>
<app-flow-datatables [srcSwitch]="srcSwitch" [statusList]="statusList" [statusParams] = "statusParams" (refresh)="refreshFlowList($event.statusParam)"  [dstSwitch]="dstSwitch" [data]="dataSet" *ngIf="!loadingData"></app-flow-datatables>
