footer {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: calc(100% - 190px);
    right: 0;
    padding: 0 15px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    font-weight: 500;
    line-height: 35px;
}