
<form class="flow-card row" id="flowAddForm" novalidate (ngSubmit)="addFlow()" [formGroup]="flowAddForm">
  <div class="col-lg-12">
    <div class="row mb-4">
      <div class="col-sm-12">
        <h6 class="card-title card-custom-title">FLOW DETAILS</h6>
        <div class="card">
          <div class="card-body">
            <div class="isl-source-details-div">
              <div class='form-group row flow_details' [ngClass]="{'error': f.flowname.errors && submitted}">
                <label class='col-sm-3 col-form-label required'>Flow Name:</label>
                <div class='col-sm-4'>
                  <input formControlName="flowname" id="max_bandwidth" class="form-control" type="text" />
                  <div *ngIf="submitted && f.flowname.errors" class="invalid-feedback">
                    <div *ngIf="f.flowname.errors.required">Flow name is required</div>
                    <div *ngIf="f.flowname.errors.pattern">Only Alphanumeric characters are allowed!</div>
                  </div>
                </div>
              </div>
              <div class='form-group row flow_details' >
                <label class='col-sm-3 col-form-label'>Description:</label>
                <div class="col-sm-4">
                  <textarea formControlName="description" id="flow_description" 
                    class="form-control"></textarea>
                </div>
              </div>

              <div class='form-group row flow_details' [ngClass]="{'error': f.maximum_bandwidth.errors && submitted}">
                <label class='col-sm-3 col-form-label required'>Maximum Bandwidth:</label>
                <div class="col-sm-4">
                  <input formControlName="maximum_bandwidth" id="max_bandwidth" class="form-control" name="max_bandwidth"
                    type="number" min="0"  required />
                  <div *ngIf="submitted && f.maximum_bandwidth.errors" class="invalid-feedback">
                    <div *ngIf="f.maximum_bandwidth.errors.required">Maximum bandwidth is required</div>
                  </div>
                </div>
              </div>

              <div class='form-group row flow_details'>
                <label class='col-sm-3 col-form-label'>Diverse Flow:</label>
                <div class='col-sm-4'>
                  <ng-select dropdownPosition="bottom" searchable="true" placeholder="Select Diverse Flow" formControlName="diverse_flowid" [items]="diverseFlowList" bindLabel="flowid"     bindValue="flowid"></ng-select>
                </div>
              </div>
              <div class='form-group row flow_details'>
                <label class='col-sm-3 col-form-label'>Protected Path:</label>
                <div class='col-sm-4'>
                  <div class="pull-left">
                    <div class="onoffswitch">
                      <input  formControlName="allocate_protected_path" [checked]="allocate_protected_path" type="checkbox" (change)="setProtectedpath($event)" name="onoffswitch" class="onoffswitch-checkbox"
                        id="onoffswitchsource">
                      <label class="onoffswitch-label" for="onoffswitchsource">
                        <span class="onoffswitch-inner "></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Start : 2 Flow section-->
    <div class="row  mb-4">
      <div class="col-sm-6">
        <h6 class="card-title card-custom-title">SOURCE DETAILS</h6>
        <div class="card">

          <div class="card-body">
            <div class='form-group row'>
              <label class='col-sm-3 col-form-label required'>Switch:</label>
              <div class='col-sm-6'>
                <ng-select [virtualScroll]="virtualScrollFlag" searchable="true" dropdownPosition="bottom" placeholder="Select source switch" formControlName="source_switch" (change)="getPorts('source_switch')" [items]="sourceSwitches"
                  bindLabel="label" bindValue="value"></ng-select>
                  <div *ngIf="submitted && f.source_switch.errors" class="invalid-feedback">
                  <div *ngIf="f.source_switch.errors.required">Please select source switch</div>
                </div>
              </div>

            </div>
            <div class='form-group row'>
              <label class='col-sm-3 col-form-label required'>Port:</label>
              <div class='col-sm-6'> 
                <ng-select [virtualScroll]="virtualScrollFlag" searchable="true" dropdownPosition="bottom" placeholder="Select source port" (change)="getVLAN('source_port')" formControlName="source_port" [items]="sourcePorts" bindLabel="label" bindValue="value"></ng-select>
                <div *ngIf="submitted && f.source_port.errors" class="invalid-feedback">
                  <div *ngIf="f.source_port.errors.required">Please select source port</div>
                </div>
              </div>
            </div>
            <div class='form-group row'>
              <label class='col-sm-3 col-form-label'>Vlan:</label>
              <div class='col-sm-6'>
                <ng-select [virtualScroll]="virtualScrollFlag" searchable="true" dropdownPosition="bottom" placeholder="Select source VLAN" formControlName="source_vlan" [items]="vlanPorts" bindLabel="label" bindValue="value"></ng-select>
                 <div *ngIf="submitted && f.source_vlan.errors" class="invalid-feedback">
                  <div *ngIf="f.source_vlan.errors.required">Please select source VLAN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h6 class="card-title card-custom-title">DESTINATION DETAILS</h6>
        <div class="card">
          <div class="card-body">
            <div class='form-group row'>
              <label class='col-sm-3 col-form-label required'>Switch:</label>
              <div class='col-sm-6'>
                <ng-select dropdownPosition="bottom" searchable="true" placeholder="Select destination switch" formControlName="target_switch" (change)="getPorts('target_switch')" [items]="targetSwitches"
                  bindLabel="label" bindValue="value"></ng-select>
                  <div *ngIf="submitted && f.target_switch.errors" class="invalid-feedback">
                  <div *ngIf="f.target_switch.errors.required">Please select destination switch</div>
                </div>
              </div>

            </div>
            <div class='form-group row'>
              <label class='col-sm-3 col-form-label required'>Port:</label>
              <div class='col-sm-6'>
                <ng-select [virtualScroll]="virtualScrollFlag" searchable="true" dropdownPosition="bottom" placeholder="Select destination port" (change)="getVLAN('target_port')" formControlName="target_port" [items]="targetPorts" bindLabel="label" bindValue="value"></ng-select>
                <div *ngIf="submitted && f.target_port.errors" class="invalid-feedback">
                  <div *ngIf="f.target_port.errors.required">Please select destination port</div>
                </div>
              </div>
            </div>
            <div class='form-group row'>
              <label class='col-sm-3 col-form-label'>Vlan:</label>
              <div class='col-sm-6'>
                <ng-select [virtualScroll]="virtualScrollFlag" searchable="true" dropdownPosition="bottom" placeholder="Select destination VLAN" formControlName="target_vlan" [items]="vlanPorts" bindLabel="label" bindValue="value"></ng-select>
                <div *ngIf="submitted && f.target_vlan.errors" class="invalid-feedback">
                  <div *ngIf="f.target_vlan.errors.required">Please select destination VLAN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ENd : 2 Flow sections-->
    <div class='row'>
      <div class="col-sm-12">
        <button class="btn btn-sm btn-dark">Add</button>
        &nbsp;
        <button (click)="goToBack()" type="button" class="btn btn-sm btn-dark">Cancel</button>
      </div>
    </div>
  </div>

</form>
