environment.naming.prefix =

service.name=@project.name@
service.version=@project.version@
service.description=@project.description@
security.rest.username.env=REST_USERNAME
security.rest.password.env=REST_PASSWORD
security.rest.username.default=kilda
security.rest.password.default=kilda

kafka.hosts=kafka.pendev:9092
kafka.groupid.prefix.env=KAFKA_GROUP_ID_PREFIX

server.contextPath=/api

web.request.asyncTimeout=30000

northbound.messages.expiration.minutes=15
northbound.kafka.listener.threads=10
northbound.kafka.session.timeout=30000

orientdb.url = remote:odb1.pendev,odb2.pendev,odb3.pendev/kilda
orientdb.user = kilda
orientdb.password = kilda

bfd.interval_ms.default = 350
bfd.multiplier.default = 3
bfd.apply.period.seconds = 10
