table.dataTable i.fa{
    float: right;
    font-size: 12px;
}

table.dataTable td{
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-position: right 10px;
    padding: 10px 20px 10px 18px;
    overflow: hidden;
    vertical-align: middle;
}