input {
  tcp {
    port => {{ logging.port.topology_engine }}
    codec => json
    type => "kilda-TE"
  }
  tcp {
    port => {{ logging.port.storm }}
    codec => json
    type => "kilda-storm"
  }
  tcp {
    port => {{ logging.port.floodlight }}
    codec => json_lines
    type => "kilda-FL"
  }
  tcp {
    port => {{ logging.port.topology_engine_rest }}
    codec => json
    type => "kilda-TER"
  }
  tcp {
    port => {{ logging.port.mininet }}
    codec => json
    type => "kilda-MN"
  }
  tcp {
    port => {{ logging.port.northbound }}
    codec => json
    type => "kilda-NB"
  }
}

filter {
  ruby {
    code => "
      event.to_hash.keys.each { |k| event[ k.sub('.','_') ] = event.remove(k) if k.include?'.' }
    "
  }
}
output {
  elasticsearch {
    hosts => "{{ logging.elasticsearch_hosts }}"
  }
}
