[kafka]
consumer.group=python-tper-flow-consumer
kafka.topic.flow=kilda.flow
bootstrap.servers=kafka.pendev:9092
environment.naming.prefix =

[neo4j]
host=neo4j
user=neo4j
pass=temppass
# -1 mean infinite attempts
retry.max_attempts = 3
retry.delay = 0.1
