<div class="row">
  <div class="col-sm-12">
      <div class="row">
          <div class="col-sm-4">
              <div class="form-group input-group-sm">
                   <input type="text" class="form-control" (keyup)="fulltextSearch($event)" placeholder="Search"/>
               </div>
          </div>
          <div class="col-sm-8 text-right text-filters mb-3">
              <a class="cursor-pointer" (click)="reRouteFlows()"><i class="fa fa-refresh"></i>  Re-Route Flows</a>
           </div>
       </div>
       
   </div>
  <div class="clear clearfix"></div>
 </div>

<div class="isl-flow-table-wrapper" [hidden]="wrapperHide"></div>
<table id="flowDataTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr class="tableHeading">
        <th><input type="checkbox" [checked]="selectAll" style="margin-left: 7px;" class="large-checkbox" (click)="selectAllFlows($event)"  />
        </th>
      <th class="">
        <span title="Flow ID">
        Flow ID
      </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedFlowId')"></i>
        <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search"  [hidden]="!expandedFlowId" id="expandedFlowId"/>
      </th>    
      <th >
        <span title="Source Port">
          Src Port
        </span>
          <i class="fa fa-search" (click)="toggleSearch($event,'expandedSrcSwitchPort')"></i>
          <input  class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search"  [hidden]="!expandedSrcSwitchPort"id="expandedSrcSwitchPort"/>
        
      </th>
      <th>
          <span title="Source VLAN">
        Src VLAN
      </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedSrcSwitchVlan')"></i>
        <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" [hidden]="!expandedSrcSwitchVlan" id="expandedSrcSwitchVlan"/>
      
      </th>
   
      <th >
        <span title="Destination Port">
          Dst Port
        </span>
          <i class="fa fa-search" (click)="toggleSearch($event,'expandedTargetSwitchPort')"></i>
          <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" [hidden]="!expandedTargetSwitchPort" id="expandedTargetSwitchPort"/>
        
      </th>
      <th >
          <span title="Destination VLAN">
        Dst VLAN
      </span>
        <i class="fa fa-search" (click)="toggleSearch($event,'expandedTargetSwitchVlan')"></i>
        <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" [hidden]="!expandedTargetSwitchVlan" id="expandedTargetSwitchVlan"/>
      
      </th>
      <th >
          <span title="Bandwidth (Mbps)">
             Bandwidth (Mbps)
            </span>
              <i class="fa fa-search" (click)="toggleSearch($event,'expandedBandwidth')"></i>
              <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" [hidden]="!expandedBandwidth" id="expandedBandwidth"/>
            
      </th>
      <th >
          <span title="State">
              Status
         </span>
           <i class="fa fa-search" (click)="toggleSearch($event,'expandedState')"></i>
           <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" [hidden]="!expandedState" id="expandedState"/>
         
      </th>
     
      <th >
          <span title="Description">
              Description
             </span>
               <i class="fa fa-search" (click)="toggleSearch($event,'expandedDescription')"></i>
               <input class="heading_search_box" (click)="stopPropagationmethod($event)" (keydown.enter)="stopPropagationmethod($event)" type="search" placeholder="Search" [hidden]="!expandedDescription" id="expandedDescription"/>
             
      </th>

    </tr>
  </thead>
  <tbody>
    <!-- [routerLink]="['/flows/details',row.flowid]" --> 
      <tr *ngFor="let row of data; let i = index"  class="flowDataRow"   [class.down-state]="!(row.status == 'CACHED' || row.status == 'UP' || row.status == 'ALLOCATED')" [class.up-state]="row.status == 'CACHED' || row.status == 'UP' || row.status == 'ALLOCATED'" [class.down-status]="storeLinkSetting && row.hasOwnProperty('discrepancy') && ((row['discrepancy'].hasOwnProperty('bandwidth') && row['discrepancy']['bandwidth']) || (row['discrepancy'].hasOwnProperty('status') && row['discrepancy']['status']))">
      <td>
        <input type="checkbox" class="large-checkbox" name="islFlow[row.flowid]" [checked]="islFlow[row.flowid]" (click) = "toggleSelection(row)" />
      </td>
      <td class="divTableCell" title="{{row.flowid }}"> {{row.flowid || "-"}} </td>
      <td title="{{row.src_port}}">{{row.src_port || "-"}}</td>
      <td>{{row.src_vlan || "-"}}</td>
      <td>{{row.dst_port || "-"}}</td>
      <td>{{row.dst_vlan || "-"}}</td>
      <td>{{row.maximum_bandwidth / 1000  || "-"}}</td>
      <td title="{{row.status || row.state ||  '-'}}">{{ row.status || row.state ||  "-"}}</td>
      <td title="{{row.description}}">{{row.description || "-"}}</td>
    
    </tr>
  </tbody>
</table>