#Tomcat Configurations
server.port={{ getv "/kilda_gui_port" }}
server.contextPath=/openkilda

#Derby database configuration (In Memory)
spring.jpa.database=default
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.DerbyTenSevenDialect

spring.jpa.hibernate.ddl-auto=update
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
spring.jpa.hibernate.enable_lazy_load_no_trans=true

spring.datasource.url=jdbc:derby:/app/data/database;create=true
spring.datasource.driver-class-name=org.apache.derby.jdbc.EmbeddedDriver

# Keep the connection alive if idle for a long time (needed in production)
spring.datasource.testOnBorrow: true
spring.datasource.validationQuery: SELECT 1

logging.config=logback.xml

spring.mvc.throw-exception-if-no-handler-found=true

#Northbound Base URL
nb.base.url={{ getv "/kilda_northbound_endpoint" }}:{{ getv "/kilda_northbound_rest_port" }}/api/v1


#OPEN TSDB Base URL
opentsdb.base.url=http://{{ getv "/kilda_opentsdb_hosts" }}:{{ getv "/kilda_opentsdb_port" }}



#Kilda username and password
kilda.username = {{ getv "/kilda_northbound_username" }}
kilda.password = {{ getv "/kilda_northbound_password" }}

#errors codes and messages
auth.success.message=Authorized Successfully.

#Switches.Json File Path
switch.data.file.path={{ getv "/kilda_production_fileserver" }}/openkilda/switchdata.json

#Mail Server
spring.mail.host={{ getv "/kilda_smtp_host" }}
spring.mail.port={{ getv "/kilda_smtp_port" }}
mail.from={{ getv "/kilda_mail_from" }}

spring.velocity.enabled = false

log.duration=7
error.code.prefix=100

spring.mvc.view.prefix= /views/
spring.mvc.view.suffix= .jsp
