input {
  tcp {
    port => 5000
    codec => json
    type => "kilda-TE"
  }
  tcp {
    port => 5001
    codec => json
    type => "kilda-storm"
  }
  tcp {
    port => 5002
    codec => json_lines
    type => "kilda-FL"
  }
  tcp {
    port => 5003
    codec => json
    type => "kilda-TER"
  }
  tcp {
    port => 5004
    codec => json
    type => "kilda-MN"
  }
  tcp {
    port => 5005
    codec => json
    type => "kilda-NB"
  }
}

filter {
  ruby {
    code => "
      event.to_hash.keys.each { |k| event[ k.sub('.','_') ] = event.remove(k) if k.include?'.' }
    "
  }
}
output {
  elasticsearch {
    hosts => "elasticsearch.pendev:9200"
  }
}
