#Tomcat Configurations
server.port=1010
server.contextPath=/openkilda

#Derby database configuration (In Memory)
spring.jpa.database=default
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.DerbyTenSevenDialect

spring.jpa.hibernate.ddl-auto=update
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
spring.jpa.hibernate.enable_lazy_load_no_trans=true

spring.datasource.url=jdbc:derby:/app/data/database;create=true
spring.datasource.driver-class-name=org.apache.derby.jdbc.EmbeddedDriver

# Keep the connection alive if idle for a long time (needed in production)
spring.datasource.testOnBorrow: true
spring.datasource.validationQuery: SELECT 1

logging.config=classpath:logback.xml

spring.mvc.throw-exception-if-no-handler-found=true
 
#Northbound Base URL
nb.base.url=http://northbound.pendev:8080/api/v1

#OPEN TSDB Base URL
opentsdb.base.url=http://opentsdb.pendev:4242
opentsdb.metric.prefix = kilda.

#Kilda username and password
kilda.username = kilda
kilda.password = kilda

#errors codes and messages
auth.success.message=Authorized Successfully.

#Switches.Json File Path
switch.data.file.path=switchdata.json

#Mail Server
spring.mail.host=127.0.0.1
spring.mail.port=10
mail.from=donotreply@example.com

spring.velocity.enabled = false

log.duration=7
error.code.prefix=100

spring.mvc.view.prefix= /views/
spring.mvc.view.suffix= .jsp

status.cron.time=43200000

#Currently working for 2FA app name
application.name=Open Kilda
