<configuration>
	<property name="LOG_PATH" value="openkilda-gui.json" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>


	<appender name="JSONOUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}</File>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>1</maxIndex>
			<fileNamePattern>${LOG_PATH}.%i</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>250MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<logger name="JSONOUT" level="DEBUG">
		<appender-ref ref="JSONOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="JSONOUT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>