storm.zookeeper.servers:
  - "{{ getv "/kilda_zookeeper_hosts" }}"
nimbus.seeds: ["{{ getv "/kilda_storm_numbus_hosts" }}"]
drpc.port: 3772
drpc.invocations.port: 3773

supervisor.slots.ports:
  - 6700
  - 6701
  - 6702
  - 6703
  - 6704
  - 6705
  - 6706
  - 6707
  - 6708
  - 6709
  - 6710
  - 6711
  - 6712
  - 6713
  - 6714

## Metrics Consumers
# topology.metrics.consumer.register:
#   - class: "backtype.storm.metric.LoggingMetricsConsumer"
#     parallelism.hint: 1
#   - class: "org.mycompany.MyMetricsConsumer"
#     parallelism.hint: 1
#     argument:
#       - endpoint: "metrics-collector.mycompany.org"

nimbus.childopts: "-Xmx128m"
ui.childopts: "-Xmx128m"
supervisor.childopts: "-Xmx128m"
worker.childopts: "-Xmx280m"
