.clip-board-wrapper{
    position: relative;
}

.clip-board-button{
    position: absolute;
    background: #9d9191cf;
    outline: none;
    color: #fff;
    border: none;
    padding: 5px 10px;
    display: none;
}

.popover{
    background: #3e3b3b !important;
}
.popover-body {
    color: #fff !important;
}

.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
    border-top-color: #3e3b3b !important;
}

.flow-title{
    font-size: 16px;
}


.onoffswitch-checkbox {
    visibility: hidden;
    overflow: hidden;
    float: left;
}
