northbound.endpoint=http://localhost:8080
northbound.username=kilda
northbound.password=kilda

floodlight.endpoint=http://localhost:8081
floodlight.username=kilda
floodlight.password=kilda
floodlight.controller.uri=tcp:kilda:6653

neo.uri=bolt://localhost:7687
neo.user=
neo.password=

elasticsearch.endpoint=http://localhost:9200
elasticsearch.username=kilda
elasticsearch.password=kilda

kafka.bootstrap.server=kafka.pendev:9092
kafka.topic.topo.disco=kilda.topo.disco

lab-api.endpoint=http://localhost:8288
lockkeeper.endpoint=http://localhost:5001

otsdb.endpoint=http://localhost:4242

spring.profiles.active=virtual

reroute.delay=3
reroute.hardtimeout=15

discovery.interval=3
discovery.timeout=15

antiflap.min=1
antiflap.warmup=5
antiflap.cooldown=5

isl.cost.when.port.down=10000
isl.cost.when.under.maintenance=10000

burst.coefficient=1.05

bfd.offset=200

opentsdb.metric.prefix=kilda.

diversity.isl.weight=1000
diversity.switch.weight=100
