northbound.endpoint=http://localhost:8080
northbound.username=kilda
northbound.password=kilda

floodlight.endpoint=http://localhost:8081
floodlight.username=kilda
floodlight.password=kilda
floodlight.controllers.management=tcp:floodlight_one.pendev:6653
floodlight.controllers.stat=tcp:floodlight_second.pendev:6653
floodlight.regions=1
floodlight.alive.timeout=10
floodlight.alive.interval=2

neo.uri=bolt://localhost:7687
neo.user=
neo.password=

elasticsearch.endpoint=http://localhost:9200
elasticsearch.username=kilda
elasticsearch.password=kilda
elasticsearch.index=kilda-*

environment.naming.prefix=
kafka.bootstrap.server=kafka.pendev:9092
kafka.topic.topo.disco=kilda.topo.disco.storm

lab-api.endpoint=http://localhost:8288
lockkeeper.endpoint=http://localhost:5001

opentsdb.endpoint=http://localhost:4242
opentsdb.metric.prefix=kilda.

spring.profiles.active=virtual

reroute.delay=2
reroute.hardtimeout=8

discovery.interval=3
discovery.timeout=9

antiflap.min=1
antiflap.warmup=3
antiflap.cooldown=7

isl.cost.when.port.down=10000
isl.cost.when.under.maintenance=10000
isl.unstable.timeout.sec=15

burst.coefficient=1.05

bfd.offset=200

env.hardware.cleanup=false

diversity.isl.weight=10000
diversity.switch.weight=1000

grpc.endpoint=http://localhost:8091
grpc.username=kilda
grpc.password=kilda
#please use the correct ip address and port for the remote log server
grpc.remote.log.server.ip=1.1.1.1
grpc.remote.log.server.port=321

use.hs=true
