northbound.endpoint=http://localhost:8080
northbound.username=username
northbound.password=password

topology-engine-rest.endpoint=http://localhost
topology-engine-rest.username=username
topology-engine-rest.password=password

floodlight.endpoint=http://localhost:8081
floodlight.username=username
floodlight.password=password

lockkeeper.endpoint=http://localhost:5001
neo.uri=bolt://localhost:7687
mininet.endpoint=http://localhost:38080
mininet-flowtool.endpoint=http://localhost:17191
spring.profiles.active=virtual

reroute.delay=10
reroute.hardtimeout=30
discovery.interval=2
