# Docker build foilder
BUILD/*
lib/
libs/
base/kilda-base-lab-service/merged-requirements.txt
lab-service/*.whl
lab-service/log.json
lock-keeper/README.md
lock-keeper/*.py
lock-keeper/cli
lock-keeper/test
grpc-stub/*.py
kafka/kafka-conf/server.properties
