# Docker build foilder
BUILD/*
base/kilda-base-lab-service/merged-requirements.txt
lab-service/*.whl
lab-service/log.json
lock-keeper/README.md
lock-keeper/*.py
grpc-stub/*.py
kafka/kafka-conf/server.properties
