<div id="userTabData">
   <div class="col-lg-12 text-right" style="padding-bottom: 10px; margin-bottom: 10px;">
      <span class="btn kilda_btn pull-right hidePermission" id="addUserBtn" permission="um_user_add">Add User</span>
   </div>
   <table id="userTable" class="display"  width="100%" cellspacing="0" style="display:none;">
      <thead>
         <tr class="tableHeading">
            <th><span title="Email">Email</span> 
            	<i class="icon-search" onclick="userManagementSearch('Email',event)" style=""></i> 
            	<input id="Email" class="heading_search_box" onclick="stopParentDelegation(event)" type="search" style="display: none;"
               placeholder="Search" />
            </th>
            <th width="20%"><span title="Name">Name</span> 
            	<i class="icon-search" onclick="userManagementSearch('userName',event)" style=""></i>
            	<input id="userName" class="heading_search_box" onclick="stopParentDelegation(event)"  type="search" style="display: none;" placeholder="Search" />
            </th>
            <th width="30%"><span title="Roles">Roles</span> 
            	<i class="icon-search" onclick="userManagementSearch('Role',event)" style=""></i> 
            	<input id="Role" class="heading_search_box" onclick="stopParentDelegation(event)" type="search" style="display: none;" placeholder="Search" />
            </th>
            <th><span title="Options">Options</span></th>
         </tr>
      </thead>
      <tbody id="user-details">
      </tbody>
   </table>
</div>
<!-- user add/edit form start  -->
<div id="userForm" style="display:none;">
   <form name="userForm" id="addUserForm" onsubmit="userService.addUser(event)">
      <div class="form-group row">
         <label for="email" class="col-sm-2 text-right">Email/User Name:</label>
         <div class="col-sm-6">
         	<input id="email" name="email" type="text" class="form-control" placeholder="Email" onkeyup="removeError(this);removeEmailError(this);" /> 
         	<span id="emailError" class="error" style="display: none; color: red;">Email is required.</span>
         	<span id="emailInvalid" class="error" style="display: none; color: red;">Email is invalid.</span>
         </div>  
      </div>
      <div class="form-group row">
         <label for="name" class="col-sm-2 text-right">Name:</label>
         <div class="col-sm-6">
         	<input name="name" type="text" maxlength="100" class="form-control" placeholder="Name" onkeyup="removeError(this)" />
         	<span id="nameError" class="error" style="display: none; color: red;">Name is required.</span>
         </div> 
      </div>
      <div class="form-group row">
         <label for="role" class="col-sm-2 text-right">Role:</label> 
         <div class="col-sm-6">
         	<select name="userRoles[]" id="userRoleToSelect" multiple="multiple">                
         	</select> 
			<span id="userRoleToSelectError" class="error" style="display: none; color: red;">Role is required.</span>
         </div>
      </div>
      <div class="form-group row">
      	<label for="role" class="col-sm-2 text-right"></label> 
         <div class="col-sm-6">
         	<input type="checkbox" name="is2FaEnabled" id="is2FaEnabled" />
         	<span class="text-right">Enable 2FA</span> 
         </div>
      </div>
      <div class="form-group row">
         <div class="col-sm-8 text-right">
	         <button id="closeUserForm" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <button type="submit" id="submitBtn" class="btn kilda_btn">Add User</button>
         </div>
      </div>
   </form>
</div>
<div id="resetPasswordModal"></div>
