environment.naming.prefix = {{ environment_naming_prefix }}

[kafka]
consumer.group=python-tper-flow-consumer
kafka.topic.flow={{ kafka_topic_flow }}
bootstrap.servers={{ kafka_hosts }}

[neo4j]
host={{ neo4j_host }}
user={{ neo4j_user }}
pass={{ neo4j_password }}
retry.max_attempts = 3
retry.delay = 0.1
