<div class=" user-management-tabs">
  <form [formGroup]="permissionEditForm" id="addpermissionform" (ngSubmit)="updatePermission()" novalidate #permissionform="ngForm">
    <div class="form-group row" [ngClass]="{'error': permissionEditForm.controls['name'].errors && permissionform.submitted}">
      <label class="col-sm-2 control-label required">Name:</label>
      <div class="col-sm-6">
        <input class="form-control" mdInput  type="text" formControlName="name" placeholder="Name" required/>
        <div *ngIf="permissionEditForm.controls['name'].errors && permissionform.submitted" class="invalid-feedback" >
          <span >Name is required.</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">Description:</label>
      <div class="col-sm-6">
        <input class="form-control" type="text" formControlName="description" placeholder="Description">
      </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-8 text-right">
          <button id="closeUserForm" (click)="close()" class="btn kilda_btn">Close</button>
          <button type="submit" id="submitBtn" class="btn kilda_btn">Update Permission</button>
        </div>
    </div>
  </form>
</div>
