environment.naming.prefix = {{ getv "/kilda_environment_naming_prefix" }}

parallelism.new = 2
parallelism = 1
workers = 1

kafka.hosts = {{ getv "/kilda_kafka_hosts" }}
kafka.partitions.default = 1
kafka.replication.default = 3

reroute.throttling.delay.min = {{ getv "/kilda_reroute_throttling_delay_min" }}
reroute.throttling.delay.max = {{ getv "/kilda_reroute_throttling_delay_max" }}

isl.cost.when.port.down = {{ getv "/kilda_isl_cost_when_port_down" }}
isl.cost.when.under.maintenance = {{ getv "/kilda_isl_cost_when_under_maintenance" }}

port.up.down.throttling.delay.seconds.min = {{ getv "/kilda_port_up_down_throttling_delay_seconds_min" }}
port.up.down.throttling.delay.seconds.warm.up = {{ getv "/kilda_port_up_down_throttling_delay_seconds_warm_up" }}
port.up.down.throttling.delay.seconds.cool.down = {{ getv "/kilda_port_up_down_throttling_delay_seconds_cool_down" }}

bfd.port.offset = {{ getv "/kilda_bfd_port_offset" }}

opentsdb.hosts = http://{{ getv "/kilda_opentsdb_hosts" }}:{{ getv "/kilda_opentsdb_port" }}
opentsdb.timeout = {{ getv "/kilda_opentsdb_timeout" }}
opentsdb.num.spouts = {{ getv "/kilda_opentsdb_num_spouts" }}
opentsdb.num.opentsdbfilterbolt = {{ getv "/kilda_opentsdb_num_opentsdbfilterbolt" }}
opentsdb.num.opentsdbbolt = {{ getv "/kilda_opentsdb_num_opentsdbbolt" }}
opentsdb.workers.opentsdbolt = {{ getv "/kilda_opentsdb_workers_opentsdbolt" }}
opentsdb.num.datapointparserbolt = {{ getv "/kilda_opentsdb_num_datapointparserbolt" }}
opentsdb.workers.datapointparserbolt = {{ getv "/kilda_opentsdb_workers_datapointparserbolt" }}
opentsdb.batch.size = {{ getv "/kilda_opentsdb_batch_size" }}
opentsdb.flush.interval = {{ getv "/kilda_opentsdb_flush_interval" }}
opentsdb.workers = {{ getv "/kilda_opentsdb_workers" }}
opentsdb.client.chunked-requests.enabled = true
opentsdb.metric.prefix = {{ getv "/kilda_opentsdb_metric_prefix" }}

neo4j.uri = bolt://{{ getv "/kilda_neo4j_host" }}:{{ getv "/kilda_neo4j_bolt_port" }}
neo4j.user = {{ getv "/kilda_neo4j_user" }}
neo4j.password = {{ getv "/kilda_neo4j_password" }}

logger.level = INFO

#######
# Discovery
# - discovery.interval = how many bolt ticks(1 tick per second) between ISL discovery / health checks, starts from 0
# - discovery.timeout = at which point do we send an ISL Failure (if it is an ISL)
#       - NB: the number is in "ticks", not "attempts" .. attempts = timeout/interval
# - discovery.limit = at what point do we stop sending? -1 means never ..
# - discovery.speaker-failure-timeout - after this amount of seconds without a
#   message from speaker it will be marked as unavailable
# - discovery.keep.removed.isl - how long should we store/remember in minutes isl endpoints.
#   it is mainly used for defining whether isl is moved or not
discovery.interval = {{ getv "/kilda_discovery_interval" }}
discovery.timeout = {{ getv "/kilda_discovery_timeout" }}
discovery.limit = {{ getv "/kilda_discovery_limit" }}
discovery.speaker-failure-timeout = 5
discovery.dump-request-timeout-seconds=60
discovery.keep.removed.isl = {{ getv "/kilda_discovery_keep_removed_isl" }}

local = no
local.execution.time = 300

pce.strategy = {{ getv "/kilda_pce_strategy" }}
pce.network.strategy = {{ getv "/kilda_pce_network_strategy" }}
pce.diversity.isl.weight = {{ getv "/kilda_diversity_isl_weight" }}
pce.diversity.switch.weight = {{ getv "/kilda_diversity_switch_weight" }}
