[kafka]
consumer.group=python-tpe-tl-consumer
topology.topic=kilda-test
bootstrap.servers=kafka.pendev:9092

[gevent]
worker.pool.size=1024

[zookeeper]
hosts=zookeeper.pendev:2181

[neo4j]
host=neo4j
user=neo4j
pass=temppass
