<div  id="ReversePathGraphwrapper" class="topology-container">
    <div *ngIf="reversePathLoader" class="path-graph-component-loader"></div>
    <div class="path-graph-wrapper" [hidden]="loadReverseGraph"></div>
  <svg id="svgReverse" width="1000" height="550"></svg>
  <div class="rightbar_overlay">
      <ul>
        <li (click)="showCommonSwitch()"> <span class="switch-circle"><i class="switch-image"></i></span>common switch</li>
        <li (click)="showFlowPth(flow)" class=""*ngFor="let flow of pathFlows; let i=index;">
          <span [ngStyle]="{'background': colourCodes[i]}"  style="width:5px;height:5px;">&nbsp;&nbsp;</span>  
           {{flow}}      
        </li>
      </ul>   
  
    </div>
</div>

