northbound.endpoint={{ getv "/kilda_northbound_endpoint" }}:{{ getv "/kilda_northbound_rest_port" }}
northbound.username={{ getv "/kilda_northbound_username" }}
northbound.password={{ getv "/kilda_northbound_password" }}

floodlight.endpoint={{ getv "/kilda_floodlight_endpoint" }}:{{ getv "/kilda_floodlight_rest_port" }}
floodlight.username={{ getv "/kilda_floodlight_username" }}
floodlight.password={{ getv "/kilda_floodlight_password" }}
floodlight.controller.uri={{ getv "/kilda_floodlight_controller_uri" }}

neo.uri=bolt://{{ getv "/kilda_neo4j_host" }}:{{ getv "/kilda_neo4j_bolt_port" }}
neo.user={{ getv "/kilda_neo4j_user" }}
neo.password={{ getv "/kilda_neo4j_password" }}

elasticsearch.endpoint={{ getv "/kilda_logging_elasticsearch_proto" }}://{{ getv "/kilda_logging_elasticsearch_hosts" }}
elasticsearch.username={{ getv "/kilda_logging_elasticsearch_user" }}
elasticsearch.password={{ getv "/kilda_logging_elasticsearch_pass" }}

kafka.bootstrap.server={{ getv "/kilda_kafka_hosts" }}
kafka.topic.topo.disco=kilda.topo.disco

lab-api.endpoint={{ getv "/kilda_lab_api_endpoint" }}:{{ getv "/kilda_lab_api_port" }}
lockkeeper.endpoint={{ getv "/kilda_aswitch_endpoint" }}:{{ getv "/kilda_aswitch_port" }}

otsdb.endpoint=http://{{ getv "/kilda_opentsdb_hosts" }}:{{ getv "/kilda_opentsdb_port" }}

opentsdb.metric.prefix = {{ getv "/kilda_opentsdb_metric_prefix" }}

spring.profiles.active={{ getv "/kilda_test_profile" }}

reroute.delay={{ getv "/kilda_reroute_throttling_delay_min" }}
reroute.hardtimeout={{ getv "/kilda_reroute_throttling_delay_max" }}

discovery.interval={{ getv "/kilda_discovery_interval" }}
discovery.timeout={{ getv "/kilda_discovery_timeout" }}

antiflap.min={{ getv "/kilda_port_up_down_throttling_delay_seconds_min" }}
antiflap.warmup={{ getv "/kilda_port_up_down_throttling_delay_seconds_warm_up" }}
antiflap.cooldown={{ getv "/kilda_port_up_down_throttling_delay_seconds_cool_down" }}

isl.cost.when.port.down={{ getv "/kilda_isl_cost_when_port_down" }}
isl.cost.when.under.maintenance={{ getv "/kilda_isl_cost_when_under_maintenance" }}

burst.coefficient={{ getv "/kilda_floodlight_flow_meter_burst_coefficient" }}

bfd.offset={{ getv "/kilda_bfd_port_offset" }}

diversity.isl.weight={{ getv "/kilda_diversity_isl_weight" }}
diversity.switch.weight={{ getv "/kilda_diversity_switch_weight" }}
