northbound.endpoint={{ getv "/kilda_northbound_endpoint" }}:{{ getv "/kilda_northbound_rest_port" }}
northbound.username={{ getv "/kilda_northbound_username" }}
northbound.password={{ getv "/kilda_northbound_password" }}

topology-engine-rest.endpoint={{ getv "/kilda_topology_engine_rest_endpoint" }}:{{ getv "/kilda_topology_engine_rest_port" }}
topology-engine-rest.username={{ getv "/kilda_topology_engine_rest_username" }}
topology-engine-rest.password={{ getv "/kilda_topology_engine_rest_password" }}

floodlight.endpoint={{ getv "/kilda_floodlight_endpoint" }}:{{ getv "/kilda_floodlight_rest_port" }}
floodlight.username={{ getv "/kilda_floodlight_username" }}
floodlight.password={{ getv "/kilda_floodlight_password" }}

aswitch.endpoint={{ getv "/kilda_aswitch_endpoint" }}:{{ getv "/kilda_aswitch_port" }}
