<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
<!-- CSS Style Sheets -->

<link th:href="@{css/jquery.dataTables.min.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{images/kilda.png}" rel="shortcut icon" type="image/png" />


</head>
<body>
<div th:include="fragments/importResources:: commonImports"></div>

	<div th:replace="fragments/header :: header" ></div>

	<div th:replace="fragments/menu :: menu" ></div>

	<div class="content">
		<div class="row">
			<div class="navigation-bar container-fluid">
				<ul class="col-lg-12">
					<li><a th:href="@{/home}">Home</a></li>
					<li><i class="fa fa-angle-double-right"></i>Switch</li>

				</ul>
			</div>
		</div>

		<div class="container-fluid">

			<div id="wait1" class="bg_load">
				<div class="loader"></div>
			</div>

			<table id="flowTable" class="display" cellspacing="0" width="100%" style="display:none;">
				<thead>
					<tr class="tableHeading">
						<th><span title="Controller">Controller</span> 
						<span class="fa fa-search" onclick="showSearch('Controller',event)" style=""></span> 
						<input id="Controller" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						</th>
						<th><span title="Address">Address	</span>					
						<span class="fa fa-search" onclick="showSearch('Address',event)" style=""></span> 
						<input id="Address" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Name">Name</span>
						<span class="fa fa-search" onclick="showSearch('Name',event)" style=""></span> 
						<input id="Name" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Description">Description</span>
						<span class="fa fa-search" onclick="showSearch('Description',event)" style=""></span> 
						<input  id="Description" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						</th>
					</tr>
				</thead>

				<tbody id="flow-details">
				</tbody>
			</table>

		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer" ></div>
	<script th:inline="javascript" src="javascript/jquery.dataTables.min.js"></script>
	<script th:inline="javascript" src="javascript/switchlist.js"></script>
	<script th:inline="javascript" src="javascript/common.js" th:src="@{javascript/common.js}"></script>
	
</body>
</html>
