<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
<!-- CSS Style Sheets -->

<link th:href="@{css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{css/roboto.css}" rel="stylesheet" type="text/css" />
<link th:href="@{css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />
<!-- Custom CSS Style Sheets -->
<link th:href="@{css/custom.css}" rel="stylesheet" type="text/css" />
<link th:href="@{css/jquery.toast.min.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{css/jquery.dataTables.min.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{images/kilda.png}" rel="shortcut icon" type="image/png" />


</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<aside class="main-sidebar" id="sidebar-left">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu tree" data-widget="tree">
				<li class=""><a th:href="@{/home}"> <i class="fa fa-home"
						aria-hidden="true"></i> <span>Home</span>
				</a></li>
				<li class="active"><a th:href="@{/topology}"> <i
						class="icon-topology" aria-hidden="true"></i><span>Topology</span>
				</a></li>

				<li class=""><a th:href="@{/flows}"> <i
						class="icon-flows" aria-hidden="true"></i><span class="home-flows">Flows</span>
				</a></li>


			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>
	<div class="content">
		<div class="row">
			<div class="navigation-bar container-fluid">
				<ul class="col-lg-12">
					<li><a th:href="@{/home}">Home</a></li>
					<li><i class="fa fa-angle-double-right"></i><a
						th:href="@{/topology}">Topology</a></li>
					<li><i class="fa fa-angle-double-right" id="kilda-source-name"></i></li>
					<li><i class="fa fa-arrows-h" id="kilda-target-name"></i></li>

				</ul>
			</div>
		</div>

		<div class="container-fluid">

			<div id="wait1" class="bg_load">
				<div class="loader"></div>
			</div>

			<h5 class="flow-title">Flows</h5>
			
			
			
			<table id="flowTable" class="display" cellspacing="0" width="100%">
				<thead>
					<tr class="tableHeading">
						<th><span title="Flow id">Flow id</span> 
						<span class="fa fa-search" onclick="showSearch('flow_search',event)" style=""></span> 
						<input id="flow_search" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						</th>
						<th><span title="Source switch">Source switch	</span>							
						<span class="fa fa-search" onclick="showSearch('source-switch',event)" style=""></span> 
						<input id="source-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Source port">Src port </span>
						<span class="fa fa-search" onclick="showSearch('source-port',event)" style=""></span> 
						<input id="source-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Source vlan">Src vlan </span> 
						<span class="fa fa-search" onclick="showSearch('source-vlan',event)" style=""></span> 
						<input  id="source-vlan" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Target switch">Target switch</span>
						<span class="fa fa-search" onclick="showSearch('target-switch',event)" style=""></span> 
						<input id="target-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Destination port">Destination port </span>
						<span class="fa fa-search" onclick="showSearch('destination-port',event)" style=""></span> 
						<input id="destination-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Destination vlan">Destination vlan </span>
						<span class="fa fa-search" onclick="showSearch('destination-vlan',event)" style=""></span> 
						<input id="destination-vlan" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Maximum bandwidth">Maximum bandwidth </span>
						<span class="fa fa-search" onclick="showSearch('max-band',event)" style=""></span> 
						<input id="max-band" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Status">Status </span>
						<span class="fa fa-search" onclick="showSearch('status',event)" style=""></span> 
						<input id="status" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
						<th><span title="Description">Description</span> 
						<span class="fa fa-search" onclick="showSearch('Description',event)" style=""></span> 
						<input id="Description"  class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
						
						</th>
					</tr>
				</thead>

				<tbody id="flow-details">
				</tbody>
			</table>

		</div>
	</div>
	<footer>
		<p class="pull-right">&copy;2018 All rights reserved.</p>
	</footer>

	<div th:include="fragments/importResources:: commonImports"></div>
	<script th:inline="javascript" src="javascript/jquery.toast.min.js"></script>
	<script th:inline="javascript"
		src="javascript/jquery.dataTables.min.js"></script>
	<script th:inline="javascript"
		src="javascript/dataTables.fixedColumns.min.js"></script>
	<script th:inline="javascript" src="javascript/switchflows.js"></script>
	<script>
		$(document).ready(function() {
			
		});
	</script>

</body>
</html>
