<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
<!-- CSS Style Sheets -->

<link th:href="@{images/kilda.png}" rel="shortcut icon" type="image/png"></link>

</head>
<body>
<div th:include="fragments/importResources:: commonImports"></div>
	<div th:replace="fragments/header :: header" ></div>

	<div th:replace="fragments/menu :: menu" ></div>


	<div class="content">

		<div id="wait" class="bg_load">
			<div class="loader"></div>
		</div>

		<div class="row">
			<div class="navigation-bar container-fluid">
				<ul class="col-sm-9">
					<li><a th:href="@{/home}">Home</a></li>
					<li><i class="fa fa-angle-double-right"></i>Topology</li>
				</ul>
				<div class="col-sm-3 text-right">
					<i class="fa fa-info-circle t-logy-icon" aria-hidden="true"></i>					
					<div class="topology-txt" id="topology-txt" style="display:none;">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
						when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						It has survived not only five centuries, but also the leap into electronic typesetting,
						remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
						sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
						Aldus PageMaker including versions of Lorem Ipsum.
					</div>
				</div>
			</div>
		</div>
		<div  id="topology-hover-txt" style="">
			<div class="form-wrapper">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Controller:</label>
					<p class="col-sm-9 switchdetails_div_controller">ip-192-168-244-3.ap-northeast-1.compute.internal</p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Address:</label>
					<p class="col-sm-9 switchdetails_div_address">192.168.244.3:49557</p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">DPID:</label>
					<p class="col-sm-9 switchdetails_div_name">00:00:00:22:3d:6c:00:0c</p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Description:</label>
					<p class="col-sm-9 switchdetails_div_desc">OF_13</p>
				</div>
			</div>
		</div>
		<div class="container-fluid">

			<div class="check">
				<input type="checkbox" name="switch" value="switch" id="showDetail">SHOW DETAILS</input>
			</div>
			
			
		</div>

		<div class="popup" id="popupDiv">
			<span class="popuptext" id="linkDiv"></span>
		</div>

		<div th:include="fragments/importResources:: commonImports"></div>
		<div th:include="fragments/importResources:: graphImports"></div>
		<div class="check check-connections">
				<div class="lconnection c-block">
					<span></span>Logical Connections
				</div>
				<div class="pconnection c-block">
					<span></span>Physical Connections
				</div>
			</div>
	</div>

	<div th:replace="fragments/footer :: footer" ></div>

	
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog link-details" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="link-modal-title">LINK DETAILS</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div>
	<script th:inline="javascript" src="javascript/common.js" th:src="@{javascript/common.js}"></script>
	
</body>
</html>
