<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
<!-- CSS Style Sheets -->
<link th:href="@{css/jquery.dataTables.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{images/kilda.png}" rel="shortcut icon" type="image/png"></link>
</head>
<body>
	<div th:include="fragments/importResources:: commonImports"></div>
	<div th:replace="fragments/header :: header"></div>

	<div th:replace="fragments/menu :: menu"></div>


	<div class="content">

  		<div id="wait" class="bg_load">
			<div class="loader"></div>
			<span class="load-text">Loading Topology <span
				class="loader__dot">.</span> <span class="loader__dot">.</span> <span
				class="loader__dot">.</span>
			</span>
		</div>
		<div id="wait1" class="bg_load" style="display:none">
			<div class="loader"></div>
			<span class="load-text">Re-loading Topology with new switch or ISl <span
				class="loader__dot">.</span> <span class="loader__dot">.</span> <span
				class="loader__dot">.</span>
			</span>
		</div>

		<div class="row">
			<div class="navigation-bar container-fluid">
				<div class="col-sm-8">
					<ul>
						<li><a th:href="@{/home}">Home</a></li>
						<li><i class="fa icon-double-angle-right"></i>Topology</li>
					</ul>					
				</div>
				
				<div class="col-sm-4 text-right">
					<div class="isl_flow_switch">
						<input type="hidden" id="auto_refresh"/>
						<input type="hidden" id="auto_refresh_interval"/>
						<input type="hidden" id="m_s_dropdown"/>
						<input type="hidden" id="switch" />
						<span class="btn btn-xs kilda_btn" data-toggle="modal" id="viewISL" data-target="#viewISLList">Affected ISL</span>
						<span  data-balloon-pos="down" data-balloon="Show Switch" class="switch_icon" id="switch_icon"><i class="icon-switch" aria-hidden="true"></i></span>
						<span  data-balloon-pos="down" data-balloon="Show ISL"  class="isl_switch_icon" id="logical"><i class="icon-isl" aria-hidden="true"></i></span>
						<span  data-balloon-pos="down" data-balloon="Show Flows" class="isl_switch_icon" id="physical" style="display:none"><i class="icon-flows" aria-hidden="true"></i></span>
						<span data-balloon-pos="down" data-balloon="Refresh" class="refresh_toggle" onclick="toggleRefresh()"><i class="icon-refresh-kilda"></i></span>
						<ul class="refresh_list" style="display:none;">
						<li class="stop_refresh active" onclick="stopAutoRefresh()"><i class="icon icon-ok"></i>STOP</li>
						<!-- <li id="10s" class="refresh_option" onclick="setAutoRefresh(10,'s')"><i class="icon icon-ok"></i>10 SECONDS</li> -->
						<li id="30s" class="refresh_option" onclick="setAutoRefresh(30,'s')"><i class="icon icon-ok"></i>30 SECONDS</li>
						<li id="45s" class="refresh_option" onclick="setAutoRefresh(45,'s')"><i class="icon icon-ok"></i>45 SECONDS</li>
						<li id="1m" class="refresh_option" onclick="setAutoRefresh(1,'m')"><i class="icon icon-ok"></i>1 MINUTE</li>
						<li id="2m" class="refresh_option" onclick="setAutoRefresh(2,'m')"><i class="icon icon-ok"></i>2 MINUTE</li>
						<li id="3m" class="refresh_option" onclick="setAutoRefresh(3,'m')"><i class="icon icon-ok"></i>3 MINUTE</li>
						<li id="5m" class="refresh_option" onclick="setAutoRefresh(5,'m')"><i class="icon icon-ok"></i>5 MINUTE</li>
						<li id="10m" class="refresh_option" onclick="setAutoRefresh(10,'m')"><i class="icon icon-ok"></i>10 MINUTE</li>
						<li id="15m" class="refresh_option" onclick="setAutoRefresh(15,'m')"><i class="icon icon-ok"></i>15 MINUTE</li>
						<li id="30m" class="refresh_option" onclick="setAutoRefresh(30,'m')"><i class="icon icon-ok"></i>30 MINUTE</li>		
						</ul>
						<i class="icon-info-sign t-logy-icon" aria-hidden="true"></i>
					</div>
					<!-- <i class="fa fa-info-circle t-logy-icon" aria-hidden="true"></i> -->
					
					<div class="topology-txt" id="topology-txt" style="display: none;">
						<p>
						<h1 align="center">Information</h1>
						</p>
						<br />
						<p>1. Graph represents all logical and physical links between
							switches.</p>
						<p>2. Hover over switch will show switch name and on click, it
							will show switch detail information along with port details.</p>
						<p>3. Click on Physical link will lead to link details page
							which will provide source &amp; Destination details along with
							ISL details. It will also provide graph of data being transferred
							through this link.</p>
						<p>4. No. mentioned on Logical link represents no. of logical
							links present between these switches.</p>
						<p>5. Click on logical link will share list of all logical
							links present between these switches which will further provide
							source &amp; destination details of flow along with flow details.
							It will also provide graph of data being transferred and path
							(Forward &amp; Reverse) followed by link.</p>
						<p>6. Select switch and drag for better view of connections.</p>
						<p>7. Double click on switch to restore graph.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="topology-click-txt" style="">
			<button id="close_switch_detail" style="margin-right:5px;" type="button" class="close right" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
			<div class="form-wrapper" id="switch_click" style="display:none">

				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>Name:</label>
					<p class="col-sm-9 switchdetails_div_click_switch_name"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>SwitchId:</label>
					<p class="col-sm-9 switchdetails_div_click_name"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>State:</label>
					<p class="col-sm-9 switchdetails_div_click_state"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>Address:</label>
					<p class="col-sm-9 switchdetails_div_click_address"></p>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>Description:</label>
					<p class="col-sm-9 switchdetails_div_click_desc"></p>
				</div>
			</div>
			
			
			
		</div>
		<div id="topology-hover-txt" style="">
		
			<div class="form-wrapper" id="switch_hover" style="display:none">

				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>Name:</label>
					<p class="col-sm-9 switchdetails_div_switch_name"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>SwitchId:</label>
					<p class="col-sm-9 switchdetails_div_name"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>State:</label>
					<p class="col-sm-9 switchdetails_div_state"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>Address:</label>
					<p class="col-sm-9 switchdetails_div_address"></p>
				</div>
				
				<div class="form-group row">
					<label class="col-sm-3 col-form-label" style='font-weight: bold;'>Description:</label>
					<p class="col-sm-9 switchdetails_div_desc"></p>
				</div>
			</div>
			
			<div class="form-wrapper" id="isl_hover" style="display:none">
				<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>Src Switch:</label>
					<p class="col-sm-6 isldetails_div_source_switch"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>Src Port:</label>
					<p class="col-sm-6 isldetails_div_source_port"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>Dst Switch:</label>
					<p class="col-sm-6 isldetails_div_destination_switch"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>Dst Port:</label>
					<p class="col-sm-6 isldetails_div_destination_port"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>Cost:</label>
					<p class="col-sm-6 isldetails_div_cost"></p>
				</div>
					<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>State:</label>
					<p class="col-sm-6 isldetails_div_state"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>Speed:</label>
					<p class="col-sm-6 isldetails_div_speed"></p>
				</div>
				<div class="form-group row">
					<label class="col-sm-5 col-form-label" style='font-weight: bold;'>Available Bandwidth:</label>
					<p class="col-sm-6 isldetails_div_bandwidth"></p>
				</div>
			</div>
			
		</div>
		<div class="container-fluid">
		<div id="switchesgraph" class="hide"></div>
		<div class="row">
					<div class="col-sm-3 checkbox-wrapper pull-right">	
					<div class="check-connections">
					
					<div class="checkbox-btns">								
						<div id="ui-container" class="ui-widget">
						   <input id="search" autofocus="autofocus" placeholder="Search"/>   
						    <i id="searchbox" class="icon-search" title="Search"></i>	
						</div>	
 						<i id="zoom_in" onclick="zoomClick('zoom_in')" title="Zoom In">+</i>
						<i id="zoom_out" onclick="zoomClick('zoom_out')" title="Zoom Out">-</i>
						<i id="reset" onclick="reset()" class="icon-undo" title="Reset"></i>
					</div>
					
				</div>
			</div>
					
		</div>		
			
		</div>

		<div class="popup" id="popupDiv">
			<span class="popuptext" id="linkDiv"></span>
		</div>
		<script th:inline="javascript" src="javascript/jquery.dataTables.min.js"></script>
	
		<script th:inline="javascript" src="javascript/common.js"
		th:src="@{javascript/common.js}"></script>
		<div th:include="fragments/importResources:: graphImports"></div>
		
		
	</div>

	<div th:replace="fragments/footer :: footer"></div>
	<!-- Modal -->
	<div class="modal confirm_modal fade" id="viewISLList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-dialog-isl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">AFFECTED ISL's</h4>
				</div>
				<div class="modal-body col-lg-12 tab-wrapper">
					<ul class="nav nav-pills">
						<li class="active"><a href="#1a" data-toggle="tab">Failed</a></li>
						<li><a href="#2a" data-toggle="tab" id="flow-list">Unidirectional</a></li>
					</ul>
					
					<div class="tab-content clearfix">
						<div class="tab-pane active" id="1a">
							<table id="failed-isl-table" class="isl-table-popup" cellspacing="0" width="100%">
								<thead>
									<tr class="tableHeading">
										<th><span title="Source Switch">Src Switch </span>
										<i class="icon-search" onclick="showSearch('source-switch-name',event)" style=""></i> 
										<input  id="source-switch-name" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										
										<th><span title="Source Switch">Src Switch	</span>					
										<i class="icon-search" id="sourceIcon" onclick="showSearch('source-switch',event)" style=""></i> 
										<input id="source-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Source Port">Port </span>
										<i class="icon-search" onclick="showSearch('source-port',event)" style=""></i> 
										<input id="source-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Destination Switch">Dst Switch </span>
										<i class="icon-search" onclick="showSearch('destination-switch-name',event)" style=""></i> 
										<input id="destination-switch-name" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										
										<th><span title="Destination Switch">Dst Switch</span>
										<i class="icon-search" id="targetIcon" onclick="showSearch('target-switch',event)" style=""></i> 
										<input id="target-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Destination Port">Port </span>
										<i class="icon-search" onclick="showSearch('destination-port',event)" style=""></i> 
										<input id="destination-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Cost">Cost </span>
										<i class="icon-search" onclick="showSearch('cost',event)" style=""></i> 
										<input id="cost" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
											<th><span title="State">State </span>
										<i class="icon-search" onclick="showSearch('state',event)" style=""></i> 
										<input id="state" class="heading_search_box" type="search" style="display: none;" placeholder="Search" /> 
										
										</th> 
										<th><span title="Speed">Speed</span> 
										<i class="icon-search" onclick="showSearch('speed',event)" style=""></i> 
										<input id="speed"  class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										</th>
										<th><span title="Available Bandwidth">Available Bandwidth </span>
										<i class="icon-search" onclick="showSearch('max-band',event)" style=""></i> 
										<input id="max-band" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Latency">Latency</span> 
										<i class="icon-search" onclick="showSearch('latency',event)" style=""></i> 
										<input id="latency"  class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="2a">
							<table id="unidirectional-isl-table" class="isl-table-popup" cellspacing="0" width="100%">
								<thead>
									<tr class="tableHeading">
										<th><span title="Source Switch">Src Switch </span>
										<i class="icon-search" onclick="showSearch('source-switch-name',event)" style=""></i> 
										<input  id="source-switch-name" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										
										<th><span title="Source Switch">Src Switch	</span>					
										<i class="icon-search" id="sourceIcon" onclick="showSearch('source-switch',event)" style=""></i> 
										<input id="source-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Source Port">Port </span>
										<i class="icon-search" onclick="showSearch('source-port',event)" style=""></i> 
										<input id="source-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Destination Switch Name">Dst Switch </span>
										<i class="icon-search" onclick="showSearch('destination-switch-name',event)" style=""></i> 
										<input id="destination-switch-name" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										
										<th><span title="Destination Switch">Dst Switch</span>
										<i class="icon-search" id="targetIcon" onclick="showSearch('target-switch',event)" style=""></i> 
										<input id="target-switch" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Destination Port">Port </span>
										<i class="icon-search" onclick="showSearch('destination-port',event)" style=""></i> 
										<input id="destination-port" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Cost">Cost </span>
										<i class="icon-search" onclick="showSearch('cost',event)" style=""></i> 
										<input id="cost" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
											<th><span title="State">State </span>
										<i class="icon-search" onclick="showSearch('state',event)" style=""></i> 
										<input id="state" class="heading_search_box" type="search" style="display: none;" placeholder="Search" /> 
										
										</th> 
										<th><span title="Speed">Speed</span> 
										<i class="icon-search" onclick="showSearch('speed',event)" style=""></i> 
										<input id="speed"  class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										</th>
										<th><span title="Available Bandwidth">Available Bandwidth </span>
										<i class="icon-search" onclick="showSearch('max-band',event)" style=""></i> 
										<input id="max-band" class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										
										</th>
										<th><span title="Latency">Latency</span> 
										<i class="icon-search" onclick="showSearch('latency',event)" style=""></i> 
										<input id="latency"  class="heading_search_box" type="search" style="display: none;" placeholder="Search" />
										</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="cancel_isl_list_modal" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog link-details" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="link-modal-title">LINK DETAILS</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
			</div>
		</div>
	</div> -->
	
</body>
</html>
