<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <meta charset="utf-8">
      </meta>
      <title>OPEN KILDA</title>
      <!-- CSS Style Sheets -->
      <link th:href="@{css/jquery.dataTables.min.css}" rel="stylesheet"
         type="text/css" />
      <link href="css/multi-select.css" rel="stylesheet" type="text/css"/>
      <link href="css/select2.min.css" rel="stylesheet" type="text/css"/>
      <link th:href="@{images/kilda.png}" rel="shortcut icon" type="image/png">
      </link>
   </head>
   <body>
      <div th:include="fragments/importResources:: commonImports"></div>
      <div th:replace="fragments/header :: header"></div>
      <div th:replace="fragments/menu :: menu"></div>
      <div class="content">
         <div class="row">
            <div class="navigation-bar container-fluid">
               <ul class="col-lg-12 usermgt_breadcrumb">
                  <li><a th:href="@{/home}">Home</a></li>
                  <li><i class="fa icon-double-angle-right"></i><a href="#" class="activeBreadcrumbTab" data-tab="userManagement">User Management</a></li>
                  <li class="tab"><i class="fa icon-double-angle-right"></i><a href="#" class="activeBreadcrumbTab" data-tab="user">Users</a></li>
               </ul>
            </div>
         </div>
         <div class="container-fluid twofa-wrapper">
         	<div class="row ">
                <div class="col-md-5 two-fa-link">
                    <h2>Setting up Two-Factor Authentication (2FA) <i class="icon-login-info"></i></h2>
                    <p>Follow the steps below to set up 2FA on Kilda.</p>
                    <ul>
                        <li>Download and install an authenticator app on your mobile device. There are many to choose from – including apps from <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank">Google</a> and <a href=" https://www.microsoft.com/en-au/store/p/microsoft-authenticator/9nblgggzmcj6" target="_blank">Microsoft</a>.</li>
                        <li>Open your authentication app and add a new account.</li>
                        <li>Link your mobile device to your account by scanning the QR code on your login screen.</li>
                        <li>Select Next on login screen. You’ll see a field requesting an authentication code.</li>
                        <li>Enter authentication code from your mobile app and select Verify.</li>
                    </ul>
                    <p>Find more information on 2FA <a href="https://www.telstra.com.au/content/dam/tcom/business-enterprise/campaigns/cloud-sight/cloud-sight-faqs.pdf" target="blank">here</a>.</p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
              		<div class="QRcode-container change-password">
              			<button class="btn btn-primary" onclick="getQRCode();">Get QR Code</button>
                        <h1>Two-Factor Authentication</h1>
                        <p>Scan below code with the authenticator app on your mobile device and follow instructions to verify your identity.</p>
                      	 <div class="qr_scan_img">
                            <div class="form-group text-center">
                                <img src="images/qrcode.png" alt=""/>
                            </div>
                            <div id="imdDiv">
                            	<img id="imgQR" src="" alt=""/>
                            </div>
                            <fieldset class="form-group">
                                <div  class="btn btn-block btn-primary float-right" onclick="goToOtpScreen()">Next</div>
                            </fieldset>
                            <p class="clearfix text-right">Need help? <a href="" onclick="openContactUs()">Contact us</a></p>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
      <script th:inline="javascript" src="javascript/common.js" th:src="@{javascript/common.js}"></script>
      <script th:inline="javascript" src="javascript/userManagement/twofa.js"></script>
      <div th:replace="fragments/footer :: footer"></div>

   </body>
</html>