<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <meta charset="utf-8">
      </meta>
      <title>OPEN KILDA</title>
      <!-- CSS Style Sheets -->
      <link th:href="@{css/jquery.dataTables.min.css}" rel="stylesheet"
         type="text/css" />
      <link href="css/multi-select.css" rel="stylesheet" type="text/css"/>
      <link href="css/select2.min.css" rel="stylesheet" type="text/css"/>
      <link th:href="@{images/kilda.png}" rel="shortcut icon" type="image/png" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" />
	
      <style>
		  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
		  .toggle.ios .toggle-handle { border-radius: 20px; }
		</style>
   </head>
   <body>
      <div th:include="fragments/importResources:: commonImports"></div>
      <div th:replace="fragments/header :: header"></div>
      <div th:replace="fragments/menu :: menu"></div>
      <div class="content">
         <div class="row">
            <div class="navigation-bar container-fluid">
               <ul class="col-lg-12 usermgt_breadcrumb">
                  <li><a th:href="@{/home}">Home</a></li>
                  <li><i class="fa icon-double-angle-right"></i><a href="#" class="activeBreadcrumbTab" data-tab="userManagement">User Management</a></li>
                  <li class="tab"><i class="fa icon-double-angle-right"></i><a href="#" class="activeBreadcrumbTab" data-tab="user">Users</a></li>
               </ul>
            </div>
         </div>
         <div class="container-fluid">
            <!--Loader for user listing -->
             <div id="loading" class="bg_load">
               <div class="loader"></div>
               <span class="load-text">Loading Users
               		<span class="loader__dot">.</span>
               	  			<span class="loader__dot">.</span>
               	 			<span class="loader__dot">.</span>
               	   </span> 
               </div>
            <!-- tab started -->
            <div id="userDetails" class="tab-wrapper">
               <ul class="nav nav-tabs">
                  <li class="active"><a class="loadTabData" href="#userTab" data-toggle="tab" data-url="#userTab">Users</a></li>
                  <li class="" permission="um_role"><a class="loadTabData" href="#roleTab" data-toggle="tab" data-url="#roleTab">Roles</a></li>
                  <li class="" permission="um_permission"><a class="loadTabData" href="#permissionTab" data-toggle="tab" data-url="#permissionTab">Permissions</a></li>
               </ul>
               <div class="tab-content user-management-tabs">
                  <div class="tab-pane active" id="userTab">
                  
                  </div>
                  <div class="tab-pane" id="roleTab"></div>
                  <div class="tab-pane" id="permissionTab"></div>
               </div>
            </div>
         </div>
         <script th:inline="javascript" src="javascript/jquery.dataTables.min.js"></script>
         <script th:inline="javascript" src="javascript/common.js" th:src="@{javascript/common.js}"></script>
         <script th:inline="javascript" src="javascript/userManagement/user.js"></script>
         <script th:inline="javascript" src="javascript/userManagement/role.js"></script>
         <script th:inline="javascript" src="javascript/userManagement/permission.js"></script>
         <script th:inline="javascript" src="javascript/select2.min.js"></script>
         <script th:inline="javascript" src="javascript/jquery.multi-select.js"></script>
         <script th:inline="javascript" src="javascript/userManagement/userManagement.js"></script>        
         <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
      </div>
      <div th:replace="fragments/footer :: footer"></div>
      
      <!-- Confirmation modal-->
		<div class="modal confirm_modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Confirmation</h4>
					<input type="text" style="display: none;" name="inputID" id="inputId"/>
				</div>
				<div class="modal-body">Are you sure you want to delete user?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn kilda_btn" onclick="userService.removeUser()">Yes</button>
				</div>
			</div>
		</div>
	</div>

   </body>
</html>