<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
<!-- CSS Style Sheets -->

<link th:href="@{css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" />
<link href="css/select2.min.css" rel="stylesheet" type="text/css"/>
<link th:href="@{css/jquery.datetimepicker.css}" rel="stylesheet" type="text/css" />
<link th:href="@{images/kilda.png}" rel="shortcut icon" type="image/png" />


</head>
<body>
<div th:include="fragments/importResources:: commonImports"></div>

	<div th:replace="fragments/header :: header" ></div>

	<div th:replace="fragments/menu :: menu" ></div>

	<div class="content">
		<div class="row">
			<div class="navigation-bar container-fluid">
				<ul class="col-lg-12">
					<li><a th:href="@{/home}">Home</a></li>
					<li><a th:href="@{/useractivity}"><i class="fa icon-double-angle-right"></i>User Activities</a></li>

				</ul>
			</div>
		</div>

		<div class="container-fluid topology-graph ">
			<div id="loading" class="bg_load">
				<div class="loader"></div>
				<span class="load-text">Loading User Activities
						<span class="loader__dot">.</span>
  			  			<span class="loader__dot">.</span>
  			 			<span class="loader__dot">.</span>
  			   </span> 
			</div>
			
			<div class="col-xs-12 filter useractivity_filters">
					<div class="col-xs-6">
						<fieldset  class="form-group clearfix">
							<label class="col-xs-3 text-label text-left">Start Date:</label>
							<div class="col-xs-6">
								<input id="fromFilterField" type="text"  onChange="updateFilter('from',false)" placeholder="Date Time" class="form-control" />
							</div>
						</fieldset>
					</div>
					<div class="col-xs-6">
						<fieldset  class="form-group clearfix">
							<label class="col-xs-3 text-label text-left">End Date:</label>
							<div class="col-xs-6">
								<input id="toFilterField" type="text" onChange="updateFilter('to',false)" placeholder="Date Time" class="form-control" />
							</div>
							<div class="col-xs-3">
								<a href="javascript:void(0)" onClick="setCurrentDate('toFilterField')" style="font-size: 14px; margin: 0px -13px;">Set to now</a>
							</div>
						</fieldset>
					</div>
					<div class="col-xs-6">
						<fieldset  class="form-group clearfix">
							<label class="col-xs-3 text-label text-left">Type:</label>
							<div class="col-xs-6">
								<select id="typeFilterField" name="typefilter[]" onChange="updateFilter('type',true)"  multiple="multiple"></select>
							</div>
						</fieldset>
					</div>
					<div class="col-xs-6">
						<fieldset  class="form-group clearfix">
							<label class="col-xs-3 text-label text-left">Username:</label>
							<div class="col-xs-6">
								<select id="usernameFilterField" name="usernameFilter[]" onChange="updateFilter('username',true)"  multiple="multiple"></select>
							</div>
							<span class="btn kilda_btn" onclick="submitFilter()" style="margin-right:65px;">Go</span>
			
						</fieldset>
						
					</div>
					
				
			</div>

			<div  class="col-xs-11 filter" > 
				<div  id="selectedFilter" style="display:none;" class="selectedFilter form-group">
					<label class="labelFilter text-label">Selected Filters</label>
					 <ul class="selected-filter">
						<li id="typeFilterSelected" style="display:none;"><span class="badge badge-secondary"><span class="badge-heading">Type </span><span class="selectedValues"></span><span onClick="removeFilter('type',true)" class="closeBadge">X</span></span></li>
					  	<li id="usernameFilterSelected" style="display:none;"><span class="badge badge-secondary"><span class="badge-heading">Username </span><span class="selectedValues"></span><span onClick="removeFilter('username',true)" class="closeBadge" >X</span></span></li>
					   	<li id="fromFilterSelected" style="display:none;"><span class="badge badge-secondary"><span class="badge-heading">From </span><span class="selectedValues"></span><span onClick="removeFilter('from',false)" class="closeBadge" >X</span></span></li>
					   	<li id="toFilterSelected" style="display:none;"><span class="badge badge-secondary"><span class="badge-heading">To </span><span class="selectedValues"></span><span onClick="removeFilter('to',false)" class="closeBadge" >X</span></span></li>
					 </ul>
				</div>
			
			</div>
			<table id="useractivityTable" class="table table-striped dataTable no-footer" cellspacing="0" width="100%" style="display:none;" >
				<thead>
					<tr class="tableHeading">
						<th><span title="ActivityTime">Date Time</span></th>
						<th><span title="clientIpAddress">Ip Address</span></th>
						<th><span title="userId">Username</span></th>
						<th><span title="activityType">Type</span></th>
						<th><span title="objectId">Object</span></th>
					</tr>
				</thead>

				<tbody id="useractivity-details">
				 
				</tbody>
			</table>

		</div>
	</div>
	
	<div th:replace="fragments/footer :: footer" ></div>
	 <script th:inline="javascript" src="javascript/select2.min.js"></script>
	<script th:inline="javascript" src="javascript/jquery.dataTables.min.js"></script>
	<script th:inline="javascript" src="javascript/common.js" th:src="@{javascript/common.js}"></script>
	<script th:inline="javascript" src="javascript/jquery.datetimepicker.full.js"></script>
	<script th:inline="javascript" src="javascript/useractivity.js"></script>
</body>
</html>
