northbound.endpoint=http://localhost:8080
northbound.username=kilda
northbound.password=kilda

floodlight.username=kilda
floodlight.password=kilda
floodlight.openflows=tcp:floodlight_1.pendev:6653,tcp:floodlight_2.pendev:6653,tcp:floodlight_stats.pendev:6653
floodlight.endpoints=http://localhost:8081,http://localhost:8281,http://localhost:8082
floodlight.containers=floodlight_1,floodlight_2,floodlight_stats
floodlight.regions=1,2,1.stats
floodlight.modes=rw,rw,ro
floodlight.alive.timeout=10
floodlight.alive.interval=2

orientdb.url = remote:localhost:2424,localhost:2425,localhost:2426/kilda
orientdb.user = kilda
orientdb.password = kilda

elasticsearch.endpoint=http://localhost:9200
elasticsearch.username=kilda
elasticsearch.password=kilda
elasticsearch.index=kilda-*

environment.naming.prefix=
zookeeper.connect_string=localhost/kilda
zookeeper.reconnect_delay=100
kafka.bootstrap.server=localhost:9092
kafka.topic.topo.disco=kilda.topo.disco.storm

lab-api.endpoint=http://localhost:8288
lockkeeper.port=5001

opentsdb.endpoint=http://localhost:4242
opentsdb.metric.prefix=kilda.

spring.profiles.active=virtual

reroute.delay=2
reroute.hardtimeout=8

discovery.generic.interval=3
discovery.timeout=15
discovery.exhausted.interval=60
discovery.auxiliary.interval=30

antiflap.min=1
antiflap.warmup=3
antiflap.cooldown=7

pce.isl.cost.when.unstable=10000
pce.isl.cost.when.under.maintenance=10000

isl.unstable.timeout.sec=18

burst.coefficient=1.05

bfd.offset=200

env.hardware.cleanup=false

diversity.isl.cost=10000
diversity.switch.cost=1000

grpc.endpoint=http://localhost:8091
grpc.username=kilda
grpc.password=kilda
#please use the correct ip address and port for the remote log server
grpc.remote.log.server.ip=1.1.1.1
grpc.remote.log.server.port=321

flow.ping.interval=5
# remote docker host http://<ip>:2376
docker.host=localhost

latency.update.interval = 120
flow.sla.check.interval.seconds = 10

use.hs=true
use.multitable=true
cleanup.verifier=true
parallel.topologies = 3
