---
databaseChangeLog:
  - include:
      relativeToChangelogFile: true
      file: tag-visibility-workaround.yaml
  - changeSet:
      id: root-tag
      author: surabujin
      changes:
        - tagDatabase:
            tag: history-starting-point
  - include:
      relativeToChangelogFile: true
      file: 000-per-isl-bfd-properties.yaml
  - include:
      relativeToChangelogFile: true
      file: 001-rework-flow-multitable-flag.yaml
  - include:
      relativeToChangelogFile: true
      file: 002-cleanup-flow-multitable-flag.yaml
  - include:
      relativeToChangelogFile: true
      file: 003-add-switch-connections.yaml
  - include:
      relativeToChangelogFile: true
      file: 004-add-mirror-classes.yaml
  - include:
      relativeToChangelogFile: true
      file: 005-add-flow-latency-properties.yaml
  - include:
      relativeToChangelogFile: true
      file: 006-add-flow-latency-monitoring-reactions-toggle.yaml
  - include:
      relativeToChangelogFile: true
      file: 007-add-flow-strict-bandwidth-property.yaml
  - include:
      relativeToChangelogFile: true
      file: 008-add-kilda-feature-toggles-class.yaml
  - include:
      relativeToChangelogFile: true
      file: 009-cleanup-config-class.yaml
  - include:
      relativeToChangelogFile: true
      file: 010-enforce-definite-types-on-history-objects.yaml
  - include:
      relativeToChangelogFile: true
      file: 011-add-lag-classes.yaml
