environment.naming.prefix = {{ environment_naming_prefix }}

service.name=@project.name@
service.version=@project.version@
service.description=@project.description@
security.rest.username.env=REST_USERNAME
security.rest.password.env=REST_PASSWORD
security.rest.username.default={{ kilda_username }}
security.rest.password.default={{ kilda_username }}

kafka.hosts={{ kafka_hosts }}

server.contextPath=/api/v1

topology.engine.rest.endpoint={{ topology_engine_rest_endpoint }}:{{ topology_engine_rest_port }}
northbound.messages.expiration.minutes=15
northbound.kafka.listener.threads=10
northbound.kafka.session.timeout=30000

neo4j.hosts = {{ neo4j_hosts }}
neo4j.user = {{ neo4j_user }}
neo4j.pswd = {{ neo4j_password }}

