{
    "nodes": [
        {
            "name": "00:00:00:00:00:01",
            "outgoing_relationships": [
                "00:00:00:00:00:02"
            ]
        },
        {
            "name": "00:00:00:00:00:02",
            "outgoing_relationships": [
                "00:00:00:00:00:01"
            ]
        }
    ]
}