/.project
/.settings
/build
/target
/.classpath
/*.log
/target/
/bin/
/src/main/resources/fonts/
/src/main/resources/css/roboto.css
/src/main/resources/css/roboto.css
/src/main/resources/css/jquery.datetimepicker.css
/src/main/resources/css/font-awesome.min.css
/src/main/resources/css/bootstrap.min.css
/src/main/resources/css/dygraph.css
/src/main/resources/css/jquery.toast.min.css
/src/main/resources/javascript/bootstrap.min.js
/src/main/resources/javascript/jquery.datetimepicker.full.js
/src/main/resources/javascript/moment.js
/src/main/resources/javascript/dygraph.js
/src/main/resources/javascript/jquery.min.js 
/src/main/resources/javascript/jquery.toast.min.js
/src/main/resources/javascript/jquery-3.2.1.min.js
