# topology configuration
config:
  topology.parallelism: 2
  topology.workers: {{ getv "/kilda_storm_parallelism_workers_count" }}

# spout definitions
spouts:
  - id: "coordinator.spout"
    parallelism: 1
  - id: "network-history"
    parallelism: 1

# bolt definitions
bolts:
  - id: "coordinator.bolt"
    parallelism: 1
