<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/base.css">
    <title>Kilda Openflow Controller</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            font-weight: 400;
            color: #525252;
            text-align: center;
        }	
        
        line {
            stroke: #000;
            stroke-width: 1.px;
        }

        text {
            font-size: 8px;
        }

        .titles{
            font-size: 10px;
        }

        path.chord {
            fill-opacity: .80;
        }
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
      <div class="wrapper">
      <div class="menu">
        <table class="menu-table menu-table-horizontal menu-table-highlight">
            <thead>
                <tr>
                    <th>Kilda Openflow Controller</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/" style="display:block;">Home</td>
                </tr>
                <tr>
                    <td><a href="/topology/network" style="display:block;">Topology status</td>
                </tr>
                <tr>
                    <td><a href="/logout" style="display:block;">Logout</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="content">
        {% block body %}{% endblock %}
      </div>
      </div>
  </body>
</html>








