<head>
</head>
<body>
<link rel="stylesheet" type="text/css" href="static/css/base.css">
<div class="wrapper">
  <div class="menu">
    <div class="login">
      <table class="menu-table menu-table-horizontal menu-table-highlight">
        <thead>
            <tr>
                <th>Kilda SDN Controller</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}"><br>
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}"><br>
        <input type="password" placeholder="MFA" name="twofactor" value="{{ request.form.twofactor }}"><br><br>
        <input type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </div>
</div>
</body>
