<div id="custom-search-input">
  <div class="port-table-div">
    <div id="port_loading" class="bg_load" style="display: none;">
      <div class="loader"></div>
      <span class="load-text">Loading Port Detail
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
      </span>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-4">
                  <div class="form-group input-group-sm">
                       <input type="text" class="form-control" (keyup)="fulltextSearch($event)" placeholder="Search"/>
                   </div>
              </div>
              
           </div>
           
       </div>
      <div class="clear clearfix"></div>
    </div>
    <div id="portsTable_wrapper" class="dataTables_wrapper no-footer">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="portsTable" class="display no-footer dataTable custom-margin-datatable" cellspacing="0"
        role="grid" aria-describedby="portsTable_info">
        <thead>
          <tr class="tableHeading">
            <th class="sorting">
              <span title="Port Number">Port Number</span>
            </th>
            <th>
              <span title="UUID">UUID</span>
            </th>
           
            <th>
              <span title="Assignment">Assignment</span>
            </th>
            
            <th class="sorting">
              <span title="Mbps" style="text-align: center;">Mbps</span>
              <div class="subPortHeadTable">
                <span>INPUT</span>
                <span>OUTPUT</span>
              </div>
            </th>
            <th class="sorting">
              <span title="Packets/Sec" style="text-align: center;">Packets/Sec</span>
              <div class="subPortHeadTable">
                <span>INPUT</span>
                <span>OUTPUT</span>
              </div>
            </th>
            <th class="sorting">
              <span title="Drops" style="text-align: center;">Drops</span>
              <div class="subPortHeadTable">
                <span>INPUT</span>
                <span>OUTPUT</span>
              </div>
            </th>
            <th class="sorting">
              <span title="Errors" style="text-align: center;">Errors</span>
              <div class="subPortHeadTable">
                <span>INPUT</span>
                <span>OUTPUT</span>
              </div>
            </th>
            <th class="sorting">
              <span title="Collisions">Collisions</span>
            </th>
            <th class="sorting">
              <span title="Frame Errors">Frame Errors</span>
            </th>
            <th class="sorting">
              <span title="Overruns">Overruns</span>
            </th>
            <th class="sorting">
              <span title="CRC Errors">CRC Errors</span>
            </th>
          </tr>
        </thead>

        <tbody id="flow-details">
          <tr rel="1" id="div_18" class="flowDataRow odd" role="row" *ngFor="let item of switchPortDataSet; let i = index" [ngClass]="{'down-status': item.status == 'DOWN' , 'up-status': item.status == 'UP'}"
            (click)="showPortDetail(item)">
            <td class="divTableCell" title="{{item.port_number}}">
              <p>{{item.port_number}}</p>
            </td>
            <td class="divTableCell" title="{{item['unique-id']}}">
              <p>{{item['unique-id'] || '-'}}</p>
            </td>
            <td class="divTableCell" title="{{item['assignmenttype'] || '-'}}">
              <p>{{item['assignmenttype'] || '-'}}</p>
            </td>
           
            <td class="divTableCell subPortTable" title="">
              <span title="{{item.stats['rx-bytes'] || '-'}}">{{item.stats['rx-bytes'] || "-"}}</span>
              <span title="{{item.stats['tx-bytes'] || '-'}}">{{item.stats['tx-bytes'] || "-"}}</span>
            </td>
            <td class="divTableCell subPortTable" title="">
              <span title="{{item.stats['rx-packets'] || '-'}}">{{item.stats['rx-packets'] || "-"}}</span>
              <span title="{{item.stats['tx-packets'] || '-'}}">{{item.stats['tx-packets'] || '-'}}</span>
            </td>
            <td class="divTableCell subPortTable" title="">
              <span title="{{item.stats['rx-dropped'] || '-'}}">{{item.stats['rx-dropped'] || '-'}}</span>
              <span title="{{item.stats['tx-dropped'] || '-'}}">{{item.stats['tx-dropped'] || '-'}}</span>
            </td>
            <td class="divTableCell subPortTable" title="">
              <span title="{{item.stats['rx-errors'] || '-'}}">{{item.stats['rx-errors'] || '-'}}</span>
              <span title="{{item.stats['tx-errors'] || '-'}}">{{item.stats['tx-errors'] || '-'}}</span>
            </td>
            <td class="divTableCell" title="{{item.stats[collisions] || '-'}}">
              <p>{{item.stats['collisions'] || '-'}}</p>
            </td>
            <td class="divTableCell" title="{{item.stats[rx-frame-error] || '-'}}">
              <p>{{item.stats['rx-frame-error'] || '-'}}</p>
            </td>
            <td class="divTableCell" title="{{item.stats[rx-over-error] || '-'}}">
              <p>{{item.stats['rx-over-error'] || '-'}}</p>
            </td>
            <td class="divTableCell" title="{{item.stats[rx-crc-error] || '-'}}">
              <p>{{item.stats['rx-crc-error'] || '-'}}</p>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>