<aside class="main-sidebar" id="sidebar-left">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul id="menubar-tbn" class="sidebar-menu tree" data-widget="tree">
			<li id="home-menu-id" [class.active]="currentUrl == '/home'">
				<a title="Home" (click)="toggleSubmenu('')" class="" routerLink="/home"> <i class="fa fa-home" aria-hidden="true"></i> <span class="toggleText">Home</span></a>
			</li>
		
			<li  *ngIf="commonService.hasPermission('menu_topology') || commonService.hasPermission('menu_available_path')"  id="topology-menu-id" style="cursor:pointer;">
					<a title="Network" (click)="toggleSubmenu('network-submenu')"><i class="fa fa-cubes" aria-hidden="true"></i><span class="home-Topology toggleText">Network</span><i [ngClass]="{'fa-angle-down':activeSubmenu != 'network-submenu','fa-angle-up':activeSubmenu == 'network-submenu'}" class="fa fa-fw" style="float:right; margin-top:15px;"></i></a>
					<ul id="network-submenu" [ngClass] = "{'show':activeSubmenu == 'network-submenu','hide':activeSubmenu != 'network-submenu'}" class="submenu">
						<li *ngIf="commonService.hasPermission('menu_topology')" [class.active]="currentUrl == '/topology'">
							<a title="Topology" routerLink="/topology"> <i class="icon-topology" aria-hidden="true"></i><span class="home-Topology toggleText">Topology</span></a>
						</li>
						<li *ngIf="commonService.hasPermission('menu_available_path')" id="network-path-menu-id" [class.active]="urlmatch('networkpath')">
								<a title="Available path" routerLink="/networkpath"> <i class="fa fa-road" aria-hidden="true"></i><span class="home-flows toggleText">Available Path</span></a>
						</li>
					</ul>
			
	 		</li>
			<li id="flows-menu-id" *ngIf="commonService.hasPermission('menu_flows')" [class.active]="urlmatch('flows')" >
				<a (click)="toggleSubmenu('')" title="Flows" routerLink="/flows"> <i class="icon-flows" aria-hidden="true"></i><span class="home-flows toggleText">Flows</span></a>
			</li>
			<li id="isl-menu-id" *ngIf="commonService.hasPermission('menu_isl')" [class.active]="urlmatch('isl')">
				<a (click)="toggleSubmenu('')" title="ISL" routerLink="/isl"> <i class="icon-isl" aria-hidden="true"></i><span class="home-isl toggleText">ISL</span></a>
			</li>
			<li id="switch-menu-id" *ngIf="commonService.hasPermission('menu_switches')" [class.active]="urlmatch('switches')">
				<a (click)="toggleSubmenu('')" title="Switches" routerLink="/switches"> <i class="icon-switch" aria-hidden="true"></i><span class="home-flows toggleText">Switches</span></a>
			</li>
			<li *ngIf="commonService.hasPermission('menu_user_management') || commonService.hasPermission('menu_user_activity')" id="usermanagement-menu-id" style="cursor:pointer;">
					<a title="Users" (click)="toggleSubmenu('user-submenu')"><i class="fa fa-users" aria-hidden="true"></i><span class="home-Topology toggleText">Users</span><i [ngClass]="{'fa-angle-down':activeSubmenu != 'user-submenu','fa-angle-up':activeSubmenu == 'user-submenu'}"  class="fa fa-fw" style="float:right; margin-top:15px;"></i></a>
					<ul id="user-submenu" [ngClass] = "{'show':activeSubmenu == 'user-submenu','hide':activeSubmenu != 'user-submenu'}" class="submenu">
							<li *ngIf="commonService.hasPermission('menu_user_management')" id="usermanagement-menu-id" [class.active]="currentUrl == '/usermanagement'">
								<a title="User Management" routerLink='/usermanagement'> 
									<i class="icon-usermanagement" aria-hidden="true"></i><span class="home-flows toggleText">User Management</span>
								</a>
							</li>
							<li *ngIf="commonService.hasPermission('menu_user_activity')" id="useractivity-menu-id" [class.active]="currentUrl == '/useractivity'">
								<a title="User Activity" routerLink="/useractivity">
									<i class="icon-logactivity" aria-hidden="true"></i><span class="home-flows toggleText">User Activity</span>
								</a>
							</li>
					</ul>

			</li>
		
			
			

		</ul>
		
	
	</section>
</aside>


<a class="sidebar-toggle" >
	<span class="icon-group">
		<i class="fa fa-angle-right" (click)="closeSidebar()"></i>
		<i class="fa fa-angle-left" (click)="openSidebar()"></i>
	</span>
</a>

