<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %class{0}:%L - [%X] %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="io" level="ERROR"/> <!-- Netty logging -->
    <logger name="LogService" level="ERROR"/> <!-- Restlet access logging -->
    <logger name="net.floodlightcontroller" level="INFO"/>
    <logger name="org.sdnplatform" level="ERROR"/>
    <logger name="org.openkilda" level="DEBUG"/>
</configuration>
