<div class="changePassword">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="changePasswordForm" id="changePassword" (ngSubmit)="submitForm()" novalidate #changePassword="ngForm">				        
      <fieldset>
        <div class="form-group">
          <input class="form-control" type="password" formControlName="oldPassword" placeholder="Old Password" required/>
          <div *ngIf="changePasswordForm.controls['oldPassword'].errors && changePassword.submitted" class="invalid-feedback" >
            <span *ngIf="changePasswordForm.controls['oldPassword'].errors.required">Old Password is required.</span>
          </div>
        </div>
        <div [formGroup]="changePasswordFormGroup">
          <div class="form-group">
            <input class="form-control" type="password" formControlName="newPassword" placeholder="New Password" required/>
            <div *ngIf="changePasswordFormGroup.controls['newPassword'].errors && changePassword.submitted" class="invalid-feedback" >
              <span *ngIf="changePasswordFormGroup.controls['newPassword'].errors.required">New Password is required.</span>
              <span *ngIf="changePasswordFormGroup.controls['newPassword'].errors.minlength">Password should be between 8 to 15 characters</span>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm Password" required/>
            <div *ngIf="changePasswordFormGroup.errors || changePasswordFormGroup.controls.confirmPassword.errors && changePassword.submitted" class="invalid-feedback" >
              <span *ngIf="changePasswordFormGroup.controls.confirmPassword.errors?.required">Confirm Password is required.</span>
              <span *ngIf="changePasswordFormGroup.errors?.doesMatchPassword">Please enter same password</span>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="is2FaEnabled == 'true'">
          <input class="form-control" type="password" formControlName="otp" placeholder="Enter OTP" required/>
          <div *ngIf="changePasswordForm.controls['otp'].errors && changePassword.submitted" class="invalid-feedback" >
            <span *ngIf="changePasswordForm.controls['otp'].errors.required">OTP is required.</span>
          </div>
        </div>
        <span class="button-checkbox">
            <button type="submit" class="btn kilda_btn">Change Password</button>
        </span>
      </fieldset>
    </form>
  </div>
</div>