[kafka]
consumer.group={{ getv "/kilda_kafka_te_consumer_group" }}
flow.topic={{ getv "/kilda_kafka_topic_flow" }}
speaker.topic={{ getv "/kilda_kafka_topic_speaker" }}
speaker.flow.topic={{ getv "/kilda_kafka_topic_speaker_flow" }}
topo.eng.topic={{ getv "/kilda_kafka_topic_topo_eng" }}
northbound.topic={{ getv "/kilda_kafka_topic_northbound" }}
bootstrap.servers={{ getv "/kilda_kafka_hosts" }}
environment.naming.prefix = {{ getv "/kilda_environment_naming_prefix" }}

[gevent]
worker.pool.size={{ getv "/kilda_worker_pool_size" }}

[zookeeper]
hosts={{ getv "/kilda_zookeeper_hosts" }}

[neo4j]
host={{ getv "/kilda_neo4j_host" }}
user={{ getv "/kilda_neo4j_user" }}
pass={{ getv "/kilda_neo4j_password" }}
socket.timeout=30

[isl_failover_policy]
# effective_policy determines what to do with a failed link.
# Available options are delete and deactivate.
effective_policy=deactivate

[isl]
cost_when_port_down=10000
