
.dataTable tfoot {
    display: table-header-group;
}

table.dataTable i.fa{
    float: right;
    font-size:12px;
}


table.dataTable .flowDataRow.up-state .divTableCell:first-child:before {
    width: 8px;
    height: 8px;
    background: #19b365;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
}

table.dataTable .flowDataRow.down-state .divTableCell:first-child:before {
    width: 8px;
    height: 8px;
    background: #b64545;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
}


table.dataTable thead th span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: calc(100% - 20px);
    line-height: normal;
    vertical-align: middle;
}


table.dataTable td {
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        background-position: right 10px;
        padding: 10px 20px 10px 18px;
        overflow: hidden;
        vertical-align: middle;
    
}

table.dataTable tbody tr td:first-child {
    padding-left: 25px !important;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #aaa !important;
    height: 30px !important;
    width: 240px !important;
    padding: 5px !important;
}

tbody tr:nth-child(odd){
   background:#f1f1f1 !important;
}

tbody tr:nth-child(even){
        background:#ffffff !important;
}

#portdetails_div .rep_div.up-state, #portdetails_div .rep_div.down-state {  
    position: relative;
    cursor: pointer;
}

#portdetails_div .rep_div.up-state:before, #portdetails_div .rep_div.down-state:before {
    width: 8px;
    height: 8px;
    background: #19b365;
    border-radius: 100%;
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.divTableBody.up-state .divTableCell:first-child {
    border-left: 3px solid #19b365;
}

table.dataTable .flowDataRow.down-state .divTableCell:first-child:before {
    background: #f00;   
}

.tab-content table.dataTable .flowDataRow.down-state .divTableCell:first-child:before {
    display: none;
}

#portdetails_div .rep_div.up-state, #portdetails_div .rep_div.down-state {  
    position: relative;
    cursor: pointer;
}

#portdetails_div .rep_div.down-state:before {
    background: #f00;
}

.divTableBody.down-state .divTableCell:first-child {
    border-left: 3px solid #f00;
}

#refresh_list {margin-bottom: 15px;}

.flow-table-wrapper{
    height: 100%;
}