#blue_green_network = True
#blue_green_flowhs = True
#blue_green_stats = True
#blue_green_isllatency = True
#blue_green_opentsdb = True
#blue_green_portstate = True
#blue_green_nbworker = True
#blue_green_ping = True
#blue_green_reroute = True
#blue_green_swmanager = True
#blue_green_floodlightrouter = True
#blue_green_connecteddevices = True
#blue_green_server42-control = True