<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<!-- Common js/scripts needs to mention here, so that any page can directly include this fragment -->
	<th:block th:fragment="commonImports">
		<!-- javascriptServerTags is a file where all server side tag names need to mention, which need to use in js  -->
		<div
			th:include="common/javascriptServerTags:: javascriptServerTags"></div>

		<!-- jquery js -->
		<script th:inline="javascript"  th:src="@{lib/javascript/jquery-3.2.1.min.js}"></script>
		<!-- bootstrap js -->
		<script th:inline="javascript" th:src="@{lib/javascript/bootstrap.min.js}"></script>
		<script th:inline="javascript" th:src="@{lib/javascript/jquery.toast.min.js}"></script>
		<script th:inline="javascript" th:src="@{lib/javascript/moment.js}"></script>
		<script th:inline="javascript"  th:src="@{ui/js/usermanagement/userPermissions.js}"></script>
		
		<!--  CSS Style Sheets -->
		<link th:href="@{lib/css/bootstrap.min.css}" rel="stylesheet"
			type="text/css" />
		<link th:href="@{lib/css/roboto.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{lib/css/font-awesome.min.css}" rel="stylesheet"
			type="text/css" />
		<!-- Custom CSS Style Sheets -->
		<link th:href="@{ui/css/custom.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{lib/css/jquery.toast.min.css}" rel="stylesheet" type="text/css" />
	
	</th:block>

	<th:block th:fragment="graphImports">
		<!-- 	Bounded force directed graph  -->
		<script th:inline="javascript"  th:src="@{lib/javascript/d3.v3.min.js}"></script>
		<!-- 			custom graph -->
		<script th:inline="javascript"  th:src="@{ui/js/topology/graph.js}"></script>
		
		<script th:inline="javascript"  th:src="@{lib/javascript/jquery-ui.min.js}"></script>
		<link th:href="@{lib/css/jquery-ui.min.css}" rel="stylesheet"
			type="text/css" />
	</th:block>

	<th:block th:fragment="commonPathImports">
		<div
			th:include="common/javascriptServerTags:: javascriptServerTags"></div>
		<script th:inline="javascript"  th:src="@{../lib/javascript/jquery-3.2.1.min.js}"></script>
		<script th:inline="javascript" th:src="@{../lib/javascript/bootstrap.min.js}"></script>
		<script th:inline="javascript" th:src="@{../lib/javascript/moment.js}"></script>
		<script th:inline="javascript" th:src="@{../lib/javascript/jquery.toast.min.js}"></script>
		<script th:inline="javascript" th:src="@{../ui/js/common.js}"></script>
		<script th:inline="javascript" th:src="@{../ui/js/usermanagement/userPermissions.js}"></script>
		<!-- CSS Style Sheets -->
		<link th:href="@{../lib/css/jquery.toast.min.css}" rel="stylesheet"
			type="text/css" />
		<link th:href="@{../lib/css/bootstrap.min.css}" rel="stylesheet"
			type="text/css" />

		<link th:href="@{../lib/css/roboto.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{../lib/css/font-awesome.min.css}" rel="stylesheet"
			type="text/css" />

		<!-- Custom CSS Style Sheets -->
		<link th:href="@{../ui/css/custom.css}" rel="stylesheet" type="text/css" />

	</th:block>


	<th:block th:fragment="statsImports">
	
		<script th:inline="javascript"
			th:src="@{../lib/javascript/jquery.datetimepicker.full.js}"></script>
		<script th:inline="javascript" th:src="@{../lib/javascript/dygraph.js}"></script>
				<link th:href="@{../lib/css/jquery.datetimepicker.css}" rel="stylesheet"
			type="text/css" />

	</th:block>
	
	<th:block th:fragment="toggleSwitch">
		<script th:inline="javascript" th:src="@{../ui/js/on-off-switch.js}"></script>
		<script th:inline="javascript" th:src="@{../ui/js/on-off-switch-onload.js}"></script>
	</th:block>
</body>
</html>