{
  "handlers": {
{{ if eq (getv "/kilda_logging_logstash") "true" }}
    "logstash": {
      "level": "DEBUG",
      "class": "logstash.TCPLogstashHandler",
      "host": "{{ getv "/kilda_logging_logstash_host" }}",
      "version": 1,
      "message_type": "kilda-TER",
      "port": {{ getv "/kilda_logging_port_topology_engine_rest" }}
    },
{{ end }}
{{ if eq (getv "/kilda_logging_json_file") "true" }}
    "json_file":
    {
      "class": "logging.handlers.RotatingFileHandler",
      "level": "DEBUG",
      "formatter": "logstash_file",
      "filename": "{{ getv "/kilda_logging_logfile_path" }}/topology-engine-rest.log.json",
      "maxBytes": 10485760,
      "backupCount": 40,
      "encoding": "utf8"
    },
{{ end }}
    "stdout": {
      "formatter": "default",
      "class": "logging.StreamHandler",
      "stream": "ext://sys.stdout"
    }
  },
  "version": 1,
  "root": {
    "handlers": [
      "stdout"
{{ if eq (getv "/kilda_logging_logstash") "true" }}
      ,"logstash"
{{ end }}
{{ if eq (getv "/kilda_logging_json_file") "true" }}
      ,"json_file"
{{ end }}
    ],
    "propagate": true,
    "level": "DEBUG"
  },
  "loggers": {
    "neo4j": {
      "level": "WARNING"
    }
  },
  "formatters": {
    "default": {
      "format": "%(asctime)23s | %(name)s [%(threadName)s] | %(levelname)-5s  | %(filename)s:%(lineno)d [%(funcName)s] | %(message)s"
    },
    "logstash_file": {
      "()": "logstash.formatter.LogstashFormatterVersion1",
      "message_type": "kilda-TPE-rest",
      "tags": ["kilda-tpe-rest"]
    }
  }
}
