<div  id="ForwardPathGraphwrapper" class="topology-container">
    <div *ngIf="pathGraphLoader" class="path-graph-component-loader"></div>
    <div class="path-graph-wrapper" [hidden]="!loadForwardGraph"></div>
  <svg id="svgForward" width="1000" height="550"></svg>
  <div class="rightbar_overlay">
    <ul>
      <li (click)="showCommonSwitch()"> <span class="switch-circle"><i class="switch-image"></i></span>common switch</li>
      <li (click)="showFlowPth(flow)" class=""*ngFor="let flow of pathFlows; let i=index;">
        <span [ngStyle]="{'background': colourCodes[i]}"  class="color-pointer">&nbsp;&nbsp;&nbsp;&nbsp;</span>  
         {{flow}}      
      </li>
    </ul>   

  </div>

</div>


