<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
      <meta charset="utf-8">
      </meta>
      <title>OPEN KILDA</title>
      <!-- CSS Style Sheets -->
      <link th:href="@{ui/images/kilda.png}" rel="shortcut icon" type="image/png" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" />
	
      <style>
		  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
		  .toggle.ios .toggle-handle { border-radius: 20px; }
		</style>
   </head>
   <body>
      <div th:include="common/importResources:: commonImports"></div>
      <div th:replace="common/header :: header"></div>
      <div th:replace="common/menu :: menu"></div>
      <div class="content">
         <div class="row">
            <div class="navigation-bar container-fluid">
               <ul class="col-lg-12 usermgt_breadcrumb">
                  <li><a th:href="@{/home}">Home</a></li>
                  <li><i class="fa icon-double-angle-right"></i><a href="#" class="activeBreadcrumbTab" data-tab="userManagement">Store Setting</a></li>
                  <li class="tab"><i class="fa icon-double-angle-right"></i><a href="#" class="activeBreadcrumbTab" data-tab="user">Identity Server</a></li>
               </ul>
            </div>
         </div>
         <!--Loader for user listing -->
             <div id="loading_config" class="bg_load" style="display:none;">
               <div class="loader"></div>
               <span class="load-text">Loading Configurations
               		<span class="loader__dot">.</span>
               	  			<span class="loader__dot">.</span>
               	 			<span class="loader__dot">.</span>
               	   </span> 
               </div>
               <div id="loading_link_store_details" class="bg_load" style="display:none;">
               <div class="loader"></div>
               <span class="load-text">Saving link store details 
               		<span class="loader__dot">.</span>
               	  			<span class="loader__dot">.</span>
               	 			<span class="loader__dot">.</span>
               	   </span> 
               </div>
               <div id="loading_identity_details" class="bg_load" style="display:none;">
               <div class="loader"></div>
               <span class="load-text">Validating and Saving Identity Details 
               		<span class="loader__dot">.</span>
               	  			<span class="loader__dot">.</span>
               	 			<span class="loader__dot">.</span>
               	   </span> 
               </div>
         <div class="container-fluid">
            
            <!-- tab started -->
            <div id="storeSetting" class="tab-wrapper">
               <ul class="nav nav-tabs">
                  <li class="active" onClick="storeSettingObj.disableIdentityForm();" id="identityServerTabHeader"><a class="loadTabData" href="#identityServerTab" data-toggle="tab" data-url="#identityServerTab">Identity Server</a></li>
                  <li id="linkStoreTabHeader" style="display:none;" onClick="storeSettingObj.getLinkStoreDetails();"><a class="loadTabData" href="#linkStoreTab" data-toggle="tab" data-url="#linkStoreTab">Link Store</a></li>
              </ul>
               <div class="tab-content store-setting-tabs">
                  <div class="tab-pane active" id="identityServerTab">
                    <form name="identityServerForm" id="identityServerForm" onsubmit="return storeSettingObj.validateIdentityData(event)" method="POST">
					      <div class="form-group row">
					         <label for="username" class="col-sm-2 text-right">Username:</label>
					         <div class="col-sm-6">
					         	<input id="username" name="username" type="text" class="form-control" placeholder="Username" onblur="storeSettingObj.validateField('username')"/> 
					         	<span id="usernameError" class="error" style="display: none; color: red;">Username is required.</span>
					         </div>  
					      </div>
					      <div class="form-group row">
					         <label for="password" class="col-sm-2 text-right">Password:</label>
					         <div class="col-sm-6">
					         	<input id="password" name="password" type="password"  class="form-control" placeholder="Password" onblur="storeSettingObj.validateField('password')" />
					         	<span id="passwordError" class="error" style="display: none; color: red;">Password is required.</span>
					         </div> 
					      </div>
					      <div class="form-group row">
					         <label for="tokenurl" class="col-sm-2 text-right">Generate Token URL:</label> 
					         <div class="col-sm-6">
					         	<input id="tokenurl" rel="urltext"  name="tokenurl" type="text" class="form-control" placeholder="Generate Token URL" onblur="storeSettingObj.validateField('tokenurl')" /> 
					         	<span id="tokenurlError" class="error" style="display: none; color: red;">Token URL is required.</span>
					        	<span id="tokenurlErrorUrl" class="error" style="display: none; color: red;">Kindly enter a valid url.</span>
					         </div>
					      </div>
					      <div class="form-group row">
					         <label for="refreshtokenurl" class="col-sm-2 text-right">Refresh Token URL:</label> 
					         <div class="col-sm-6">
					         	<input id="refreshtokenurl" rel="urltext"  name="refreshtokenurl" type="text" class="form-control" placeholder="Refresh Token URL" onblur="storeSettingObj.validateField('refreshtokenurl')" /> 
					         	<span id="refreshtokenurlError" class="error" style="display: none; color: red;">Refresh Token URL is required.</span>
					         	<span id="refreshtokenurlErrorUrl" class="error" style="display: none; color: red;">Kindly enter a valid url.</span>
					         </div>
					      </div>
					      <div class="form-group row">
					         <div class="col-sm-8 text-right">
					         	<button type="button" id="editidentityBtn" style="display:none" class="btn kilda_btn" onClick="storeSettingObj.enableIdentityForm()">Edit</button>
						      	<button type="button" id="cancelidentityBtn" style="display:none" class="btn kilda_btn" onClick="storeSettingObj.cancelIdentityForm()">Cancel</button>
						      	<button type="submit" id="submitidentityBtn" class="btn kilda_btn">Validate and Submit</button>
					         </div>
					      </div>
					   </form>
                  </div>
                  <div class="tab-pane" id="linkStoreTab">
                   <form name="linkStoreForm" id="linkStoreForm" onsubmit="return storeSettingObj.submitLinkData(event)" method="POST">
					        <div class="form-group row">
					         <label for="getalllinkurl" class="col-sm-2 text-right">Get All Link URL:</label>
					         <div class="col-sm-6">
					         	<input id="getalllinkurl" rel="urltext"  name="getalllinkurl" type="text" class="form-control"  onblur="storeSettingObj.validateField('getalllinkurl')" placeholder="Get Link" /> 
					         	<span id="getalllinkurlError" class="error" style="display: none; color: red;">Get All Link Url is required.</span>
					       		<span id="getalllinkurlErrorUrl" class="error" style="display: none; color: red;">Please enter a valid URL</span>
					         </div>  
					      </div>
					      <div class="form-group row">
					         <label for="getlinkurl" class="col-sm-2 text-right">Get Link With ID URL:</label>
					         <div class="col-sm-6">
					         	<input id="getlinkurl" rel="urltext"  name="getlinkurl" type="text" class="form-control"  onblur="storeSettingObj.validateField('getlinkurl')" placeholder="Get Link" /> 
					         	<span style="display:none" id="requiredParam_getlinkurl" ></span> 
					         	<span id="exampleGetLinkParam" style="width: 100%; float: left;margin-top: 5px;"></span>
					         	<span id="getlinkurlrequiredError" class="error" style="display: none; color: red;">Url do not contain required params.</span>
					       		<span id="getlinkurlError" class="error" style="display: none; color: red;">Get Link Url is required.</span>
					       		<span id="getlinkurlErrorUrl" class="error" style="display: none; color: red;">Please enter a valid URL</span>
					         </div>  
					      </div>
					      <div class="form-group row">
					         <label for="getlinkwithparam"  class="col-sm-2 text-right">Get Link With Parameter:</label>
					         <div class="col-sm-6">
					         	<input id="getlinkwithparam"  rel="urltext"  name="getlinkwithparam" type="text"  class="form-control" onblur="storeSettingObj.validateField('getlinkwithparam')" placeholder="Get Link With Parameter" />
					         	<span style="display:none" id="requiredParam_getlinkwithparam" ></span> 
					         	<span id="exampleGetLinkWithParam" style="width: 100%; float: left;margin-top: 5px;"></span>
					         	<span id="getlinkwithparamrequiredError" class="error" style="display: none; color: red;">Url do not contain required params.</span>
					         	<span id="getlinkwithparamError" class="error" style="display: none; color: red;">Get Link With Parameter is required.</span>
					        	<span id="getlinkwithparamErrorUrl" class="error" style="display: none; color: red;">Please enter a valid URL</span>
					         </div> 
					      </div>
					      <div class="form-group row">
					         <label for="getcontracturl" class="col-sm-2 text-right">Get Contract URL:</label> 
					         <div class="col-sm-6">
					         	<input id="getcontracturl" rel="urltext"  name="getcontracturl" type="text" class="form-control" onblur="storeSettingObj.validateField('getcontracturl')" placeholder="Get Contract" /> 
					         	<span style="display:none;" id="requiredParam_getcontracturl" > </span>
					         	<span id="exampleGetContractParam" style="width: 100%; float: left;margin-top: 5px;"></span>	
					         	<span id="getcontracturlrequiredError" class="error" style="display: none; color: red;">Url do not contain required params.</span>
					         	<span id="getcontracturlError" class="error" style="display: none; color: red;">Get Contract URL is required.</span>
					         	<span id="getcontracturlErrorUrl" class="error" style="display: none; color: red;">Please enter a valid URL</span>
					         </div>
					      </div>
					      <div class="form-group row">
					         <label for="deletecontracturl" class="col-sm-2 text-right">Delete Contract URL:</label> 
					         <div class="col-sm-6">
					         	<input id="deletecontracturl" rel="urltext"  name="deletecontracturl" type="text" class="form-control"  onblur="storeSettingObj.validateField('deletecontracturl')" placeholder="Delete Contract" /> 
					         	<span id="requiredParam_deletecontracturl" style="display:none"></span> 
					         	<span id="exampleDeleteContractParam" style="width: 100%; float: left;margin-top: 5px;"></span>	
					         	<span id="deletecontracturlrequiredError" class="error" style="display: none; color: red;">Url do not contain required params.</span>
					         	<span id="deletecontracturlError" class="error" style="display: none; color: red;">Delete Contract URL is required.</span>
					         	<span id="deletecontracturlErrorUrl" class="error" style="display: none; color: red;">Please enter a valid URL</span>
					         
					         </div>
					      </div>
					      <div class="form-group row">
					         <div class="col-sm-8 text-right">
					         	<button type="button" id="editlinkstoreBtn" style="display:none;" class="btn kilda_btn" onClick="storeSettingObj.enableLinkStoreForm()">Edit</button>
						       <button type="button" id="cancellinkstoreBtn" style="display:none;" class="btn kilda_btn" onClick="storeSettingObj.cancelLinkStoreForm()">Cancel</button>
						        <button type="submit" id="submitlinkstoreBtn" class="btn kilda_btn">Save</button>
					         </div>
					      </div>
					   </form>
                  
                  
                  </div>
               </div>
            </div>
         </div>
         <script th:inline="javascript"  th:src="@{ui/js/common.js}"></script>            
         <script th:inline="javascript" th:src="@{ui/js/storesetting/storesettingobject.js}"></script>  
      </div>
      <div th:replace="common/footer :: footer"></div>
      
   </body>
</html>