{
  "handlers": {
{% if logging.logstash %}
    "logstash": {
      "level": "DEBUG",
      "class": "logstash.TCPLogstashHandler",
      "host": "{{ logging.logstash_host }}",
      "version": 1,
      "message_type": "kilda-TE",
      "port": {{ logging.port.topology_engine }}
    },
{% endif %}
{% if logging.json_file %}
    "json_file":
    {
      "class": "logging.handlers.RotatingFileHandler",
      "level": "DEBUG",
      "formatter": "logstash_file",
      "filename": "{{ logging.logfile_path }}/topology-engine.log.json",
      "maxBytes": 10485760,
      "backupCount": 40,
      "encoding": "utf8"
    },
{% endif %}
    "stdout": {
      "formatter": "default",
      "class": "logging.StreamHandler",
      "stream": "ext://sys.stdout"
    }
  },
  "version": 1,
  "root": {
    "handlers": [
      "stdout"
{% if logging.logstash %}
      ,"logstash"
{% endif %}
{% if logging.json_file %}
      ,"json_file"
{% endif %}
    ],
    "propagate": true,
    "level": "DEBUG"
  },
  "formatters": {
    "default": {
      "format": "%(asctime)23s | %(name)s [%(threadName)s] | %(levelname)-5s  | %(filename)s:%(lineno)d [%(funcName)s] | %(message)s"
    },
    "logstash_file": {
      "()": "logstash.formatter.LogstashFormatterVersion1",
      "message_type": "kilda-TPE",
      "tags": ["kilda-tpe"]
    }
  }
}
