[kafka]
consumer.group=python-tpe-tl-consumer
topology.topic={{ kafka_topic }}
bootstrap.servers={{ kafka_hosts }}

[gevent]
worker.pool.size=1024

[zookeeper]
hosts={{ zookeeper_hosts }}

[neo4j]
host={{ neo4j_host }}
user={{ neo4j_user }}
pass={{ neo4j_password }}

[isl_failover_policy]
# effective_policy determines what to do with a failed link.
# Available options are delete and deactivate.
effective_policy=deactivate

[logstash]
enabled=True
host={{ logging.logstash_host }}
port={{ logging.port.topology_engine }}
