northbound.endpoint={{ northbound_endpoint }}:{{ northbound_rest_port }}
northbound.username={{ kilda_username }}
northbound.password={{ kilda_password }}

topology-engine-rest.endpoint={{ topology_engine_rest_endpoint }}:{{ topology_engine_rest_port }}
topology-engine-rest.username={{ kilda_username }}
topology-engine-rest.password={{ kilda_password }}

floodlight.endpoint={{ floodlight_endpoint }}:{{ floodlight_port }}
floodlight.username={{ kilda_username }}
floodlight.password={{ kilda_password }}

aswitch.endpoint={{ floodlight_endpoint }}:{{ aswitch_port }}
neo.uri=bolt://{{ neo4j_host }}:{{ neo4j_bolt_port }}
mininet.endpoint=http://localhost:38080
mininet-flowtool.endpoint=http://localhost:17191

spring.profiles.active={{ test_profile }}

discovery.timeout = {{ discovery_timeout }}
