---
# tasks file for templates
#- name: Display all variables/facts known for a host
#  debug:
#    var: vars

- name: Floodlight properties
  template:
    src: "{{ item.tmpl }}"
    dest: "{{ item.dest }}"
  with_items:
    - "{{ path }}"
