#Tomcat Configurations
server.port=1010
server.contextPath=/openkilda

#Derby database configuration (In Memory)
spring.jpa.database=default
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.DerbyTenSevenDialect
spring.datasource.url=jdbc:derby:memory:openkilda;create=true
spring.datasource.driver-class-name=org.apache.derby.jdbc.EmbeddedDriver
spring.datasource.data=classpath:import-script.sql
spring.jpa.hibernate.naming.physical-strategy=org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
spring.jpa.hibernate.enable_lazy_load_no_trans=true

# Keep the connection alive if idle for a long time (needed in production)
spring.datasource.testOnBorrow: true
spring.datasource.validationQuery: SELECT 1


spring.mvc.throw-exception-if-no-handler-found=true

#Logging Configurations
logging.file=openkilda.log
logging.level.*=INFO
logging.level.org.hibernate.SQL=INFO
logging.pattern.file=%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %X{correlationid} : %msg%n

#SWITCH URL
switch.base.url={{ floodlight_endpoint }}:{{ floodlight_port }}/wm/core
GET_SWITCH_PORTS=${switch.base.url}/switch/all/port-desc/json

#LINK URL
link.base.url={{ topology_engine_endpoint }}:{{ topology_engine_rest_port }}/api/v1
#FLOW TOPOLOGY URL
GET_TOPOLOGY_FLOWS=${link.base.url}/topology/flows

#FLOW URL
flow.base.url={{ northbound_endpoint }}:{{ northbound_rest_port }}/api/v1
GET_FLOW=${flow.base.url}/flows
GET_FLOW_STATUS=${GET_FLOW}/status/

#FLOW PATH URL
GET_PATH_FLOW = ${GET_FLOW}/path
GET_SWITCHES=${flow.base.url}/switches
GET_LINKS=${flow.base.url}/links

#OPEN TSDB URL
opentsdb.base.url={{ opentsdb_hosts }}
OPEN_TSDB_QUERY=${opentsdb.base.url}/api/query/


#Kilda username and password
kilda.username = {{ kilda_username }}
kilda.password = {{ kilda_password }}

#errors codes and messages
auth.success.message=Authorized Successfully.
