<configuration>
    <property name="LOG_PATH" value="{{ logging.logfile_path }}/kildagui/openkilda-gui.json" />

    <appender name="JSONOUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_PATH}</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${LOG_PATH}.%d{yyyy-MM-dd}.%i</fileNamePattern>
         <maxFileSize>100MB</maxFileSize>
         <totalSizeCap>500MB</totalSizeCap>
         <maxHistory>5</maxHistory>
      </rollingPolicy>
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>
	
    <logger name="JSONOUT" level="DEBUG">
        <appender-ref ref="JSONOUT" />
    </logger>
	
    <root level="INFO">
        <appender-ref ref="JSONOUT" />
    </root>
</configuration>
