#usermanagement_div ul li a:hover {
    text-decoration: none;
}

table.dataTable .fa {
    font-size: 20px;
    color: #262d37;
    vertical-align: middle;
    margin: 0 5px;
    float: left;
    cursor: pointer;
}

.user-management-tabs form label {
    margin: 10px 0 0;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
}