<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
	<!-- CSS Style Sheets -->
</head>

<body>
<!-- Start Header -->
<th:block th:fragment="header">
<header class="main-header">
	<a href="javascript:;" class="logo">
      <span class="logo-lg">OPEN KILDA</span>
    </a>
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <!--<a href="javascript:;" class="sidebar-toggle toggle-sidebar-left">
      	<i class="fa fa-align-justify" aria-hidden="true"></i>
      </a>-->
    
      <div class="navbar-custom-menu pull-right">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <img class="user-image rounded-circle"></img>
              <div class="pull-right"><span class="user-name"><span id="loggedInUserName" th:text="${session.sessionObject.name}"></span></span>
              <i class="fa icon-angle-down" aria-hidden="true"></i>
              </div>
            </a>
            <ul class="dropdown-menu scale-up">              
               <li>
                  <a href="#myModal" id="change_password" data-target="#myModal" data-toggle="modal"><i class="icon-signout" aria-hidden="true"></i> Change Password</a>
              </li>
              <li>
                  <a th:href="@{/logout}" id="logout"><i class="icon-signout" aria-hidden="true"></i> Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
</header>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog link-details" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="link-modal-title">Change Password</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					 <form name="cpForm" id="cpForm" method="POST" onsubmit="changePassword(event)">				        
				        <fieldset>
				            <div class="form-group">
				                <input type="password" name="oldPassword" id="oldPassword" class="form-control input-lg" placeholder="Old Password" onkeyup="removeCpError(this)"/>
				                <span id="oldPasswordError" class="error" style="display: none; color: red;">Old Password is required.</span>
				            </div>
				            <div class="form-group">
				                <input type="password" name="newPassword" id="newPassword" class="form-control input-lg" placeholder="New Password" onkeyup="removeCpError(this)" />
				                <span id="newPasswordError" class="error" style="display: none; color: red;">New Password is required.</span>
				                
				            </div>
				            <div class="form-group">
				                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-lg" placeholder="Confirm Password" onkeyup="removeCpError(this)"/>
				                <span id="confirmPasswordError" class="error" style="display: none; color: red;">Confirm Password is required.</span>
				            </div>
				            <div class="form-group" id="inputCode" th:if="${session.sessionObject.is2FaEnabled}">
				                <input type="password" name="code" id="code" class="form-control input-lg" placeholder="Enter OTP" onkeyup="removeCpError(this)"/>
				                <span id="codeError" class="error" style="display: none; color: red;">OTP is required.</span>
				            </div>
				            <div class="form-group">
				            <span id="oldnewPasswordError" class="error" style="display: none; color: red;">Old password and new password can not be same.</span>
				            <span id="lengthPasswordError" class="error" style="display: none; color: red;">Password should be min 8 and max 15 character long..</span>
				             </div>   
				            <span class="button-checkbox">
				                <button  class="btn kilda_btn" >Change Password</button>
				            </span>
				            
				        </fieldset>
				    </form>
				</div>
			</div>
		</div>
	</div>
<!-- /End Header -->
</th:block>

</body>
</html>