<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
</head>

<body>
<th:block th:fragment="menu">
	<aside class="main-sidebar" id="sidebar-left">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul id="menubar-tbn" class="sidebar-menu tree" data-widget="tree">
				<li class="" id="home-menu-id"><a th:href="@{/home}"> <i
						class="icon-home" aria-hidden="true"></i> <span>Home</span>
				</a></li>

					<li class="" id="topology-menu-id" th:if="${session.sessionObject.role=='ROLE_ADMIN'}"><a th:href="@{/topology}"> <i
							class="icon-topology" aria-hidden="true"></i><span class="home-Topology">Topology</span>
					</a></li>

					<li class="" id="flows-menu-id" th:if="${session.sessionObject.role=='ROLE_ADMIN'}"><a th:href="@{/flows}"> <i
							class="icon-flows" aria-hidden="true"></i><span class="home-flows">Flows</span>
					</a></li>
					<li class="" id="isl-menu-id" th:if="${session.sessionObject.role=='ROLE_ADMIN'}"><a th:href="@{/switch/isllist}"> <i
							class="icon-isl" aria-hidden="true"></i><span class="home-isl">ISL</span>
					</a></li>
					<li class="" id="switch-menu-id" th:if="${session.sessionObject.role=='ROLE_ADMIN'}"><a th:href="@{/switch}"> <i
							class="icon-switch" aria-hidden="true"></i><span class="home-flows">Switches</span>
					</a></li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>
</th:block>

</body>
</html>

