<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"></meta>
<title>OPEN KILDA</title>
</head>

<body>
<th:block th:fragment="menu">
	<aside class="main-sidebar" id="sidebar-left">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul id="menubar-tbn" class="sidebar-menu tree" data-widget="tree">
				<li id="home-menu-id"><a th:href="@{/home}" class=""> <i
						class="icon-home" aria-hidden="true"></i> <span>Home</span>
				</a></li>

					<li id="topology-menu-id"><a th:href="@{/topology}" class="" permission="menu_topology"> <i
							class="icon-topology" aria-hidden="true"></i><span class="home-Topology">Topology</span>
					</a></li>

					<li id="flows-menu-id"><a th:href="@{/flows}" class="" permission="menu_flows"> <i
							class="icon-flows" aria-hidden="true"></i><span class="home-flows">Flows</span>
					</a></li>
					<li id="isl-menu-id"><a th:href="@{/switch/isllist}" class="" permission="menu_isl"> <i
							class="icon-isl" aria-hidden="true"></i><span class="home-isl">ISL</span>
					</a></li>
					<li id="switch-menu-id"><a th:href="@{/switch}" class="" permission="menu_switches"> <i
							class="icon-switch" aria-hidden="true"></i><span class="home-flows">Switches</span>
					</a></li>
					
					<li id="usermanagement-menu-id"><a th:href="@{/usermanagement}" class="" permission="menu_user_management"> <i
							class="icon-usermanagement" aria-hidden="true"></i><span class="home-flows">User Management</span>
					</a></li>
					<li id="useractivity-menu-id"><a th:href="@{/useractivity}" class="" permission="menu_user_activity" >
					 <i class="icon-logactivity" aria-hidden="true"></i><span class="home-flows">User Activity</span>
					</a></li>
			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>
</th:block>

</body>
</html>

