<div class=" user-management-tabs">
    <form [formGroup]="roleAssignForm" id="addUserForm" (ngSubmit)="submitform()" novalidate #roleform="ngForm">
      <div class="form-group row" [ngClass]="{'error': roleAssignForm.controls['name'].errors && roleform.submitted}">
        <label class="col-sm-2 control-label required">Role Name:</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="name" placeholder="Name">
          <div *ngIf="roleAssignForm.controls['name'].errors && roleform.submitted" class="invalid-feedback" >
              <span>Name is required.</span>
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'error': roleAssignForm.controls['description'].errors && roleform.submitted}">
        <label class="col-sm-2 control-label required">Description:</label>
        <div class="col-sm-6">
          <input class="form-control" type="text" formControlName="description" placeholder="Description">
          <div *ngIf="roleAssignForm.controls['description'].errors && roleform.submitted" class="invalid-feedback" >
              <span>Description is required.</span>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label required">Users:</label>
        <div class="col-sm-6">
          <ng-select
            formControlName="user"
            [items]="UserData"
            bindLabel="name"
            bindValue="id"
            labelForId="id"
            [multiple]="true"
            placeholder="Select User"
            clearAllText="Clear"
        > </ng-select>
        </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-8 text-right">
            <button id="closeUserForm" type="button" class="btn kilda_btn" (click)="close()">Close</button>
            <button type="submit" id="submitBtn" class="btn kilda_btn">Assign User</button>
          </div>
      </div>
    </form>
  
    <!-- <pre>{{roleform.value|json}}</pre> -->
  </div>
  