<div >
  <div class="row">
    <div class="col-sm-6">      
        <h5 class='modal-title'>PORT DETAILS</h5>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn kilda_btn" *ngIf="!editConfigStatus && commonService.hasPermission('sw_port_config')" (click)="configurePortDetails()">Configure</button>
        <button class="btn kilda_btn" *ngIf="editConfigStatus" (click)="savePortDetails()" style="margin-right: 5px;">Save</button>
        <button class="btn kilda_btn" *ngIf="editConfigStatus" (click)="cancelConfigurePort()">Cancel</button>
    </div>
  </div>
  <form [formGroup]="portForm">
    <div class='form-wrapper'>
      <div class='row'>
        <label class='col-sm-3'>Switch ID:</label>
        <div class='col-sm-2'>
          <span class="switchportdetails_div_switch_id copy_to_clipBoard">        
            <p [contextMenu]="copySrcSwitch">{{retrievedSwitchObject.switch_id}}</p>
            </span>
        </div>
        <div class="col-sm-1">
          <input type="hidden" class="on-off-switch" value="0" style="display: none;">
          <div class="pull-left">
            <div class="onoffswitch">
              <input type="checkbox" (change)="maskSwitchId('source',$event)" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitchsource">
              <label class="onoffswitch-label" for="onoffswitchsource">
                <span class="onoffswitch-inner onoffswitch-inner-kilda-switch"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
        <label class='col-sm-3' *ngIf="hasStoreSetting">Assignment State:</label>
        <p *ngIf="hasStoreSetting" class='col-sm-3 switchdetails_div_number'>{{portDataObject['assignment-state'] ? portDataObject['assignment-state']:'-'}}</p>
      </div>
      <div class='row'>
        <label class='col-sm-3 '>Port Number:</label>
        <p class='col-sm-3 switchdetails_div_number'>{{portDataObject.port_number}}</p>
        <label class='col-sm-3 ' *ngIf="hasStoreSetting">Assignment Type:</label>
        <p *ngIf="hasStoreSetting" class='col-sm-3 switchdetails_div_number'>{{portDataObject.assignmenttype ? portDataObject.assignmenttype:'-'}}
          <i title="Controller : {{descrepancyData.assignmentType.controller}}, Inventory : {{descrepancyData.assignmentType.inventory}}" *ngIf="hasStoreSetting && assignmentTypeDescrepancy" class="fa fa-exclamation-triangle text-orange"></i>
        </p>
      </div>
      <div class='row'>
          <label class='col-sm-3 ' *ngIf="!hasStoreSetting">Assignment Type:</label>
          <p *ngIf="!hasStoreSetting" class='col-sm-3 switchdetails_div_number'>{{portDataObject.assignmenttype ? portDataObject.assignmenttype:'-'}}</p>
         <label class='col-sm-3 ' *ngIf="hasStoreSetting">Interface Type:</label>
        <p class='col-sm-3 switchdetails_div_interface' *ngIf="hasStoreSetting">{{portDataObject.interfacetype}}</p>
        <label class='col-sm-3 ' *ngIf="hasStoreSetting">Assignment Customer Account:</label>
        <p *ngIf="hasStoreSetting" class='col-sm-3 switchdetails_div_number'>
          {{portDataObject.customer && portDataObject.customer['customer-account-number']  ? portDataObject.customer['customer-account-number'] :''}}
          {{portDataObject.customer && portDataObject.customer['company-name'] ? ' - '+portDataObject.customer['company-name'] :''}}
          {{portDataObject.customer && portDataObject.customer['domain-id']  ? ' - '+portDataObject.customer['domain-id'] :''}}
        </p>
      </div>
      <!-- <div class='row' >
        <label class='col-sm-3 '>Status:</label> </div> -->
      <div class='row portStatusInput' >
        <label class='col-sm-3'>Status:</label>
        <p *ngIf="!editConfigStatus" class='col-sm-3 port_details_div_status'>{{portDataObject.status}}</p>
        <p class='col-sm-3' *ngIf="editConfigStatus">
          <select formControlName="portStatus" class="form-control port_details_div_status" name="portStatus">
            <option value="UP">UP</option>
            <option value="DOWN">DOWN</option>
          </select>
        </p>
        <label class='col-sm-3' *ngIf="hasStoreSetting">Assignment Date:</label>
        <p *ngIf="hasStoreSetting" class='col-sm-3 switchdetails_div_number'>{{ (portDataObject['assignment-date'] ?  assignDate(portDataObject['assignment-date'])  :'-' ) }}</p>
      </div>
      <div class='row' *ngIf="hasStoreSetting">
        <label class='col-sm-3 ' *ngIf="hasStoreSetting">Port X-connect:</label>
        <p class='col-sm-3 port_details_div_status'>{{portDataObject.crossconnect ? portDataObject.crossconnect:'-'}}</p>
        <label class='col-sm-3 ' *ngIf="hasStoreSetting">Port Notes:</label>
        <p class='col-sm-3 switchdetails_div_number'>{{portDataObject.notes ? portDataObject.notes:'-'}}</p>
      </div>

      <div class='row' *ngIf="hasStoreSetting">
          <label class='col-sm-3 ' >Port Termination point at Rack:</label>
          <p class='col-sm-3'>{{portDataObject.odfmdf ? portDataObject.odfmdf:'-'}}</p>
        
        <label class='col-sm-3 ' >Port Termination point at MMR</label>
        <p class='col-sm-3 switchdetails_div_number'>{{portDataObject.mmr ? portDataObject.mmr:'-'}}</p>
      </div>
    </div>
  </form>
</div>
<!-- Start: Tabs -->
<div class="row">
  <div id="exTab1" class="col-lg-12 tab-wrapper">
    <ul class="nav nav-pills">
      <li [ngClass]="{'active': openedTab == 'graph'}">
        <a href="javascript:void(0)" (click)="toggleTab('graph')" data-toggle="tab">GRAPH</a>
      </li>
      <li *ngIf="commonService.hasPermission('sw_switch_inventory') && commonService.hasPermission('menu_flows')" [ngClass]="{'active': openedTab == 'flow'}">
        <a href="javascript:void(0)" (click)="toggleTab('flow')" data-toggle="tab">FLOWS</a>
      </li>
      <li *ngIf="hasStoreSetting && assignmentTypeDescrepancy" [ngClass]="{'active': openedTab == 'descripancy'}">
        <a href="javascript:void(0)" (click)="toggleTab('descripancy')" data-toggle="tab" id="descripancy-list">DISCREPANCY</a>
      </li>
    </ul>
    <div class="tab-content clearfix">
      <div class="tab-pane" [ngClass]="{'active': openedTab == 'graph'}">
        <app-port-graph *ngIf="openedTab == 'graph'"></app-port-graph>
      </div>
      <div class="tab-pane" [ngClass]="{'active': openedTab == 'flow'}">
          <app-flows [switchid]="retrievedSwitchObject.switch_id"  [portnumber]="portDataObject.port_number" *ngIf="openedTab == 'flow'"></app-flows>
      </div>
      <div class="tab-pane" [ngClass]="{'active': openedTab == 'descripancy'}" id="a">
        <div class="table-responsive">
          <table class="row-border hover dataTable no-footer">
              <thead class="thead-light"><tr class="tableHeading"><th>Discrepancy</th><th>Kilda Controller</th><th>Switch Store</th></tr></thead>
            <tbody>
              <tr *ngIf="assignmentTypeDescrepancy" >
                <td class="divTableCell">Assignment Type</td>
                <td class="divTableCell">{{ descrepancyData.assignmentType.controller}}</td>
                <td class="divTableCell">{{ descrepancyData.assignmentType.inventory}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End: Tabs -->

<!-- START :  Modal popup content -->
<div id="final_configure_confirm_modal" class="hide">
  <div class="row final_configure_confirm_modal_text">
    <div class="col-md-12 row">
      <div class="col-md-4">
        <div class="col-md-12 margin-bottom" style="margin-bottom:10px;">&nbsp;</div>
        <div class="col-md-10">
          <label>Status</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 margin-bottom font-weight no-padding" style="margin-bottom:10px; font-weight:bold;">Current State</div>
        <div class="col-md-10 no-padding">
          <span id="old_status_val"></span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 margin-bottom font-weight no-padding" style="margin-bottom:10px; font-weight:bold;">Requested State</div>
        <div class="col-md-10 no-padding">
          <span id="new_status_val"></span>
        </div>
      </div>
    </div>
    <span class="col-md-12 confirmationText">Are you sure you want to configure this port with requested state?</span>
  </div>
</div>
<!-- END :  Modal popup content -->

<context-menu #copySrcSwitch>
  <ng-template contextMenuItem (execute)="copyToClip($event,'sourceSwitch');">
    Copy to Clipboard
  </ng-template>
</context-menu>